/* general settings */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block;}
html, body {height:100%;}
body { font:16px/1.25 Arial, Helvetica, sans-serif; margin:0 auto; }

.wrapper { width:100%; }
.navbar { background: #efefef; }

/* Modal Boxes */
.modal-header { text-align: center; }
.modal-body { max-height: 100%; }
.modal.fade { display: none; }
.modal.fade.in { display: block; }
.control-group { margin-top:1.5em; }

/* Social Media */ 
.modal .social-media-signup { margin:30px auto; padding:0 1em 0 0; }
.modal .social-media-signup a {
    padding: 8px; margin:0 0 30px 0; clear: both; float: left;
    color: #fff; border-radius: 5px; width:100%;
}
.modal .social-media-signup a:focus, .modal .social-media-signup a:hover {
  text-decoration: none; opacity: 0.8;
}
.modal .social-media-signup a i { margin-right: 10px; font-size: 1.2em; }
    .modal .social-media-signup a.facebook { background-color: #334479; }
    .modal .social-media-signup a.linkedin { background-color: #1379C3; }

/* Modal Box - FORMs */
.modal input { font-size:1em; }
.modal input:not([type="checkbox"]) { 
    width: 96%; padding:8px 10px; line-height: 1.4; border-width: 0 0 1px; box-shadow: none;
}
.modal .validation-feedback {
    position: absolute; display: none; background: transparent; 
    height: 15px; margin-top:7px; right:15px;
}
    .modal .success .validation-feedback { margin-top:7px; }

.modal .forgot-pwd { display: block; }
    .forgot-pwd a.txt-forgot { position: absolute; right:0; font-size:.9em; }

/* UI Controls  */
.error-feedback { display:none; }
.validation-feedback i { font-size: 1.2em; top:-18px; }

.control-group.error .validation-feedback i { color: #FC353A; }
.control-group.success .validation-feedback i { color: #468847; }

/* Modal Box - Footer */
.modal .modal-footer { background: #535353; text-align: center; padding: 10px 5px; }
.modal .modal-footer span {  color: #fff; }
.modal .modal-footer a { margin-left: 10px; color: #E58A23; }

.social-media-signup:after { content:""; clear:both; display:block; }


@media (min-width: 1200px) {
}
@media (min-width: 768px)  {
    #signupModal .float-reset { border-left:1px solid #e3e3e3; padding-left: 20px; margin-left: 0; }
}
@media (max-width: 767px) {
    .social-media-signup a { text-align: center;  }
}
