/* ---------- Column widths ---------- */
.portlet-column-content.empty {
  padding: 50px; }

/* ---------- Wrapper ---------- */
#wrapper {
  /* padding: 2em 0em 0; */
  padding-top: 70px;
  position: relative; }
  @media (max-width: 767px) {
    #wrapper {
      padding-left: 0em;
      padding-right: 0em; } }
  @media (min-width: 768px) and (max-width: 979px) {
    #wrapper {
      padding-left: 0em;
      padding-right: 0em; } }