/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/* gray out during modal popup */

/* hide liferay nav bar in giving*/
#_145_navSiteNavigationNavbarBtn.btn-navbar, 
#_145_navAccountControls.btn-navbar, 
#_145_navAddControlsNavbarBtn.btn-navbar, 
#_145_navAccountControlsNavbarBtn.btn-navbar {
	display: none !important;
}

/* display portlet title only when user is signed-in and have access to drag portlet*/
body.controls-hidden header.portlet-topper, body.signed-out header.portlet-topper, 
body header.portlet-topper {
	display: none;
}
body.controls-visible.signed-in div.yui3-dd-drop header.portlet-topper.allow-view {
	display: block !important;
    opacity: 0.5;
    background: #f2f2f2;
}
body.controls-visible.signed-in div.yui3-dd-drop header.portlet-topper.allow-view .portlet-title {
	margin: 0px;
}

.yui3-skin-sam .yui3-widget-mask {
	/* transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s; */
    opacity: 0.8;
    height: 150% !important;
}

.validation-feedback.error i {
	color: #FC353A;
}

.validation-feedback.success i {
	color: #91C2AF;
}

.validation-feedback.forgot-pwd{
	width: 100%;
	right: 0px;
}

#forget_password{
	font-size: .8em !important;
}

.lfr-input-text, .form .fieldset .lfr-input-text-container input {
	max-width: 100%;
}

/* to centralize span inside div.row-fluid */
.spanCentralize {
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
}

/* hide hrefFm*/
#hrefFm {
	display: none;
}

/****************************************************/
/******** GLOBAL STYLE FOR MODAL **********************/
/****************************************************/
.modal-header .fa-minus-circle {
	margin-right: 5px;
}

.modal-body .spanCentralize {
	max-width: 800px;
}
/* DB commented 
.aui .modal.fade {
	transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
	top: -25%;
}

.aui img { 
	width: auto\9;
}
*/

/**********************************************************/
/***** FOR ALL MODAL, MUST APPLY FOLLOWING STYLE : START */
/********************************************************/

.aui .giving-sg-modal.modal.yui3-widget-modal {
	transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
	opacity: 1.0;
	top: -10000px;
}

.aui .giving-sg-modal.modal{
	height: auto !important;
	top:20px !important;
	z-index:9999 !important;
 	position:absolute;
  	margin-bottom:2em; 
  	right:0; 
  	left:0; 
  	width:100%; 
}

.aui .giving-sg-modal .modal-body{
	height: auto !important; 
    max-height: 100% !important; 
}

.aui .modal-body, .aui .modal-backdrop {
	max-height: 100%;
}

.aui .giving-sg-modal-margin-auto.modal, 
.aui .giving-sg-modal-margin-auto .modal-content, 
.aui .giving-sg-modal-margin-auto .modal-body {
  /* set modal to center of page, only applicable of custom modal provided by DB*/
  margin: 0 auto !important;
}

.aui .giving-sg-modal.modal, 
.aui .giving-sg-modal .modal-content, 
.aui .giving-sg-modal .modal-body {
  /* ISSUE adding margin will cause modal position calculate wrongly in liferay*/
  /* margin: 0 auto !important; */
  overflow-y: initial !important;
  height: auto !important;
}

.aui .modal-header .close {
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 15px !important;
  font-size: 20px !important;
  opacity: 1 !important;
}


/**************************************************/
/***** FOR ALL MODAL, APPLY FOLLOWING STYLE : END*/
/************************************************/

#signinmodal .control-label {
	cursor: pointer;
	text-rendering: optimizelegibility;
}

#signinmodal .control-label h5 {
	font-size: 1.2em;
	line-height: 1.4;
	font-weight: 300;
	cursor: pointer;
}

#_58_firstName, #_58_emailAddress {
	max-width: 100%;
}

#donatenowmodal div.modalwrapper div.box {
	border: none !important;
}

#createprofilemodal .row-fluid .signupnpo {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#createprofilemodal .modal-tiles {
	min-width: 40%;
}

#createprofilemodal .tile {
	margin: 0px 20px;
}

#createprofilemodal .modal-footer {
	border-top: 0px solid #DDD;
	background: #F5F5F5 none repeat scroll 0% 0%;
}

#createusermodal div.btn-group.btn-toggle {
	font-size:14px;
}

#donationsummarymodal, #transactionhistorymodal {
	background-color: #efefef;
}

#donationsummarymodal .modal-footer {
	padding: 15px 5px;
	background: #F5F5F5;
}

#donationsummarymodal .modalwrapper {
	max-width: 800px;
}

.DOB.box-footer p, #DOB div.control-group .controls {
	display: none;
}

.DOB.box-footer p.active, #DOB div.control-group .controls.active {
	display: block;
}

.DOB.below-age {
	color: #F16577  !important;
}

#transactionhistorymodal .summary-wrapper .charity-info {
	width: 100% !important;
}

/*--------------------------------------------------------*/
/*----------------- SPRINT 4 CUSTOM CSS START HERE -------*/
/*--------------------------------------------------------*/
.aui .table th, .aui .table td {
	text-align: center;
	vertical-align: middle;
}

.gf-bkt {
	border: 1px solid #DDD !important;
	border-radius: 8px !important;
	border-collapse: separate !important;
	margin-top: 40px !important;
	vertical-align: middle !important;
}

#gf-bkt-table tbody tr td:first-child {
	height: 75px !important;
}

.editIp {
	padding: 1px !important;
}

.clear-both {
	clear: both;
}

/*--------------------------------------------------------*/
/*----------------- SPRINT 5 CUSTOM CSS START HERE -------*/
/*--------------------------------------------------------*/
.dashboard-wrapper {
	min-height: 800px;
}

.dashboard-wrapper .check-col .check {
    display: inline-block;
    width: 17px;
    height: 13px;
    overflow: hidden;
    margin: 5px 0px 0px;
    vertical-align: top;
    background: transparent url("../images/bg-checkbox.png") no-repeat scroll 0% 0%;
}

.dashboard-wrapper .check.active{
    background-position: 0px -20px;
}

.img-box span.small {
    font-size: 1em !important;
    line-height: 1.2em !important;
}

.dtn-amt-item .dtn-amt {
    display: table !important;
}

#cpn-info div.img-box a i {
    font-size: 1.8em;
    padding: 15px 8px;
}

#cpn-info div.img-box a:hover, #cpn-info div.img-box a:active, #cpn-info div.img-box a:focus{
	color: #333 !important;
}

#selPayment {
    min-width: 150px;
}

.fa-heart.active {
	color: #d33030;
}

/*--------------------------------------------------------*/
/*----------------- SPRINT 5 CUSTOM CSS START HERE -------*/
/*--------------------------------------------------------*/
.search-results-wrapper {
	min-height: 500px;
}

/******** RESPONSIVE RULE ****/
@media ( max-width : 979px) {
	.navbar .container .btn-navbar {
		color: #fff !important;
	}
	.aui .dockbar-split .dockbar .navbar-inner {
		margin-right: 20px
	}
}

@media ( max-width : 767px) {
	#signinmodal form #login_button {
		width: 120px !important;
	}

	#cpn-donate-now .btn {
	    width: 100% !important;
	}
}

@media (max-width: 979px){
	form#_58_fm {
		text-align: center !important;
	}
}

#donationAmt div.modal-body {
    max-width: 280px;
    padding:15px;
}

#_2_WAR_notificationsportlet_userNotifications {
	display: none;
}

.aui a.undelined, .aui a.underlined:link {
  text-decoration: underline !important; 
}

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure,
	.aui footer, .aui header, .aui hgroup, .aui nav, .aui section {
	display: block;
}

.aui textarea, .aui input[type="text"], .aui .button-input, .aui .control-group .form-control, .aui select{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
}

.aui input:-webkit-autofill, .aui textarea:-webkit-autofill, .aui select:-webkit-autofill{
  background-color: #ffffff !important;
}

.popover-content .aui .btn {margin-bottom:10px;}

.aui .btn:hover, .aui .btn:focus {
	background-position: 0 -15px;
	text-decoration: none;
	transition: background-position 0.1s linear 0s;
}

.aui .btn-success {
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #5BB75B;
	background-image: linear-gradient(to bottom, #62C462, #50967B);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.aui .btn-info {
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #49AFCD;
	background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.aui .help-inline {
	padding-left: 0px;
}

.aui .control-group input, .aui .control-group select, .aui .control-group textarea {
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
	-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
}

/* Prevents a box shadow from appearing for the one line inputs*/
.aui .modal input:not([type="checkbox"]), .aui .main-content input:not([type="checkbox"]), 
#gf-bkt-login input:not([type="checkbox"]), #claim-tax input:not([type="checkbox"]), .aui input[type=checkbox]:focus {
	box-shadow: none !important;
}

.aui select:focus{outline: 0;}
.aui .control-group input:focus, .aui .control-group select:focus, .aui .control-group textarea:focus
	{
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	border-color: #7cbff2;
}

#search-form .control-group input:focus{
   box-shadow: 0px 0px 2px #7cbff2; 
   -webkit-box-shadow: 0px 0px 2px #7cbff2;
   border-bottom-color:#fff;
}

.aui .control-group.error input:focus, .aui .control-group.error select:focus,
.aui .control-group.error textarea:focus, .aui .control-group.success input:focus, 
.aui .control-group.success select:focus,
.aui .control-group.success textarea:focus  {
  box-shadow: none; 
}

.aui .control-group.success input, .aui .control-group.success select,
.aui .control-group.success textarea, .aui .control-group.error input,
.aui .control-group.error select, .aui .control-group.error textarea {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset; 
}

.aui .sgtn-body h5{
	font-size: 1.125em !important;
	text-decoration: none !important;
}

.aui .collapse.in {
    height: auto;
    width: initial;
}

/*Custom CSS for collapse mobile showing for organisation profile page*/
.row-fluid .wrapper-925 .visible-desktops{
	width: inherit !important;
}

.popover-filter input[type=checkbox] {
	display: none;
}

.popover-filter .popover-content ul li {
    list-style: none;
    display: inline-block;
    margin-bottom: 4px;
}

.popover-filter input[type=checkbox] + label:before {
	content: "\f00c";
	display: block;
	color: #BABABA;
	background: transparent;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 5px;
	right: 5px;
	font-size: .8em;
	font-family:"FontAwesome" 
}
.popover-filter input[type=checkbox]:checked + label:before {
	color: #4cb848; 
}

/*--------------------------------------------------------*/
/*----------------- SPRINT 5 CUSTOM CSS START HERE -------*/
/*--------------------------------------------------------*/

.focused {
  -webkit-box-shadow: -1px 5px 17px -3px #999799;
  -moz-box-shadow: -1px 5px 17px -3px #999799;
  box-shadow: -1px 5px 17px -3px #999799;
  padding-bottom: 0 !important; 
}
            
/* adjust the position of validation icon for new password form*/            
#portlet_new-password .validation-feedback {
	margin-top: 10px;
}        

.delete-logo {
	display: none !important;
}

@media (max-width: 767px) {
	.cpn-sgtn-item .sgtn-body img{
	    display: none;
	}
}

#portlet_verficationaccount_WAR_givingsgportlet label#email {
	cursor: default;
  font-weight: bold;
}

@media (min-width: 767px) {
	.collapse.visible-desktops{height: auto !important;}
}

#subdomain {
	padding: 4px 6px;
}

/* easy donation and multiple donation : credit card option */
.creditcard-option {
    width: 70px !important;
    height: 31px !important;
    z-index: 0 !important;
    padding: 2px 10px !important;
    opacity: 0.5;
}

.creditcard-option.active {
    opacity: 1;
}

.creditcard-option.master img {
    margin-top: -3px;
}
			
.creditcard-option.enets img {
    max-height:20px
}

/* collapsible section title in mobile */
@media (max-width: 767px){
	.acc-toggle.minimal {
	  font-size: 1.3em !important;
	  font-weight: bold !important;
	}
}

/* css fix for parental consent  */
.controls.age18 p.small input[type="checkbox"] {
	margin : 0px;
}

.aui .volunteer-contact .small {
	font-size: .85em;
}

.aui .volunteer-contact #modal481 {
	position: absolute;
	top: 10% !important;
	left: 0 !important;
	right: 0 !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.aui .volunteer-contact .block.email a {
	cursor: default;
}

.aui .volunteer-contact .block.email a:hover, .aui .volunteer-contact .block.email a:focus {
	color: #9DC9EE !important;
	text-decoration: none;
}

/********************************/
/******************* CI *********/
/********************************/
#login_button, #btnDonate, .btn-primary, .btn-success, #donate-buttons .btn.active, .preset-amts .btn-ghost:hover, .preset-amts .btn-ghost.active, .btn-toggle .btn.active {
    border: medium none;
   /*  font-weight: 300 !important; */
}

/* easy donation add more donation button */
.more-donations {
	margin-top: 20px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	margin-bottom: 15px !important;
	text-transform: lowercase !important;
	font-weight: 400 !important;
	border-radius: 6px !important;
}

#signinmodal .checkbox input[type="checkbox"] {
    margin-top: 2px;
    margin-right: 8px;
}

.aui .btn-small {
    font-size: 18px;
    padding: 2px 10px;
    border-radius: 3px;
}

.aui .btn-large {
    padding: 11px 19px !important;
}

.sod_select.open .sod_list_wrapper {
    min-width: 170px;
}

.box-footer {
    padding-top: 10px;
}

/********************************/
/******************* COLORS *****/
/********************************/
.aui input[disabled]{
  border-color: #eee !important;
  color: #999 !important;
  background-color: #eeeeee;
  cursor: not-allowed;
}

#addthis_toolbox a, #addthis_toolbox a:link, #addthis_toolbox a:active {
	color: #FFF !important;
}

#disabledDonate{
	margin-bottom: 0 !important;
}

.tab-nav-area li a, .tab-nav-area li a:visited, .tab-nav-area li a:hover, .tab-nav-area li a:link {
    color: #000 !important;
}

.ico-tdr a i, .indicate-tdr i, .multiple .fa-check-circle-o, .upload-section .btn, 
.tax-status .fa-check-circle-o {
  color: #9DC9EE !important; 
}

.aui .control-group.error .control-label, .control-group.error .control-label{
	font-weight: 600;
}

.alert-danger, .alert-error h6 {
  color: #F16577 !important;
  font-weight: 400 !important;
}

/*  home carousel */
/* Blue CI carousel integration */
.aui .home-slider .cpn-slider-inner.swiper-wrapper {
	height: auto;
}
.aui .main-content-inner {
	min-height: 100px;
}

.main-image__item .main-image__show-holder {
	position: absolute;
  	background: #17a4e1;
	color: #fff;
	text-align: left;
	width: 190px;
	padding: 1em 1.5em;
	border-radius: 6px;
}

.aui .main-image__item .main-image__show-holder p {
	display: none !important;
}

.aui .main-image__item .main-image__show-holder h3 {
    margin-top: 0;
    max-height: 6em;
    overflow: hidden;
    font-size: 1.5em;
    text-decoration: none;
    color: #FFF;
}

.aui .main-image__item .main-image__show-holder h3 a:hover {
    color: #FFF !important;
}

.aui .main-image__item .main-image__show-holder a {
	text-decoration: none;
    color: #FFF;
}

.aui .main-image__item .main-image__show-holder .btn {
    border: 1px solid #B3E7FF;
    color: #FFF !important;
    background-color: transparent;
    font-size: 14px;
    min-width: initial;
}

.aui.main-image__item .main-image__show-holder .btn:hover,
.aui.main-image__item .main-image__show-holder .btn:active,
.aui.main-image__item .main-image__show-holder .btn:focus
 {
	background-color: #0e678e;
    border: 1px solid #0e678e;
    color: #FFF;
}

@media (min-width: 768px) {	
	.aui .main-image__item.right picture, .main-image__item.center picture, .main-image__item.left picture {
        margin: 0;
        float: none;
        width: 100%
    }
    
    .aui .main-image__item.right .main-image__show-holder {
		right: 14%;
		bottom: 15%;
    }
}

@media (max-width: 768px) {
	.aui .home-slider .cpn-slider-inner.swiper-wrapper {
		max-height: none !important;
	}
	
	.aui .home-slider .slider-navigation {
		display:none !important;
	}
	
	.aui .main-image__item .main-image__show-holder {
		width: 95%;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 3em;
	    border-radius: 0;
	    padding: 1em 2.5%;
	}
	
	.aui .main-image__item .main-image__show-holder h3 {
		float: left;
    	width: 65%;
    	font-size: 1.25em
	}
	
	.aui .home-slider .main-image__item .main-image__show-holder .btn {
		margin-left: 2%;
		max-width: 25%;
		display: inline-block;
	} 
}

@media only screen and (max-width: 599px) {
	.aui .main-image__item .main-image__show-holder h3 {
		float: none;
		font-size: 1em;
		width: auto;
		text-align: center;
	}
	
	.aui .home-slider .main-image__item .main-image__show-holder .btn {
		display: none;
		background-color: rgba(23,164,225,0.8);
		margin: 0 !important;
	}
}

@media (max-width:  320px){
  #gf-bkt-wrapper {
    max-width: 96%;
    padding: 0 0px;
  }
  .aui .popover{
  	left: 0px;
	right: 0;
	margin-right: auto;
	margin-left: auto;
  }
}

.aui .home-slider .swiper-slide {
	border: 0px;
	min-height: 350px;
}

/* button, input disabled class  */
.button-disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.wrapper-npoListing {
    max-width: 1213px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.roleSwitchToggle {
	border-bottom: none !important;
	cursor: default !important;
}

#_145_dockbarMessages .footer{
	background: none !important;
}

div.toggle-cpn-body	.cpn-body p , #cpn-meta .cpn-body p {
	white-space: pre-line;
}

.share-box a.facebook, .share-box a.facebook:hover, .share-box a.facebook:active, .share-box a.facebook:link, .share-box a.facebook:visited {
    color: #46629E !important;
}

.share-box a.twitter, .share-box a.twitter:hover, .share-box a.twitter:active, .share-box a.twitter:link, .share-box a.twitter:visited {
    color: #55acee !important;
}

.share-box a.gplus, .share-box a.gplus:hover, .share-box a.gplus:active, .share-box a.gplus:link, .share-box a.gplus:visited {
    color: #DC4A3D !important;
}

.share-box a.shareit, .share-box a.shareit:hover, .share-box a.shareit:active, .share-box a.shareit:link, .share-box a.shareit:visited {
    color: #BBBBBB !important;
}

@media (max-width: 979px) and (min-width: 768px) {
	#donate-buttons button {
		width: 15% !important;
    	height: 50px !important;
    	margin: 11px 5px !important;
	}
	#custom-amt-input { 
		float: left;
		width: 28%;
		padding-top: 9px;
		margin: 10px 1% 10px 2% !important;
	}
	
	.wrapper-npoListing .span6.text-uppercase.text-left.center-mobile.small.pull-left{
	    margin-left: auto !important;
	    margin-right: auto;
	    float: none;
	    max-width: 715px;
	}
}


div.clickable>a.img-placeholder-btn {
    margin-top: 100px !important;
    background: rgba(255,255,255, 0.2);
    padding: 10px;
    width: 200px;
}

.carousel-youtube-link-input {
	display: block !important;
	width: 100%;
}

.img-browse-btn .input-prepend {
	width: 100%;
	margin-top: 10px;
}
   

/***************************************************************************
                            CAUSE ICONS
***************************************************************************/
.animals a.mobile-block, .img-box.animals{
    background-image: url('../images/ico-causes-animalx64.png');
}

.disabled a.mobile-block, .img-box.disabled {
    background-image: url('../images/ico-causes-disabilitiesx64.png');
}  
 
.environment a.mobile-block, .img-box.environment{
    background-image: url('../images/ico-causes-naturex64.png');
}

 .adult a.mobile-block, .img-box.adult{
    background-image: url('../images/ico-causes-adultx64.png');
}

/***************************************************************************
							Header
***************************************************************************/
.aui #logo a:hover, .aui #logo a:active {
	text-decoration: none;
}

.aui #uf-dockbar-cart-trigger a:hover {
	color: #000;
}

/***************************************************************************
                             DASHBOARD PROFILE
***************************************************************************/
.dashboard .panel-title span{
	clear: both !important;
}

@media (max-width: 979px){
	.dashboard-wrapper.volunteer-contact .dashboard.non-respv{
		margin-left: 0;
	}
	.aui .volunteer-contact .select-like button{display: block;}
}

@media (max-width: 767px){
	.wrapper-925 {width: 100%;}
	.dashboard-wrapper.volunteer-contact{
		overflow-x:scroll; 
	}
}

@media (max-width: 320px) {
	body {
	    max-width: 320px !important;
	}
}

/***************************************************************************
                             FEATURED CAMPAIGN
***************************************************************************/
.featured-campaigns-component .cpn-slide-right{
	border-left: none !important;
}

.featured-campaigns-component .cpn-slide-left{
	border-right: 1px solid #cccccc;
}

@media (max-width: 767px) {
	.featured-campaigns-component img {
	  display: block;
	  line-height: 1;
	  width: 100%;
	  height: 168px;
	  object-fit: cover;
	  object-position: center;
	  -moz-transform-style: preserve-3d; 
  }
  
  .featured-campaigns-component .cpn-slide-right h3 {
	  max-height: 132px
  }
}

@media (max-width: 979px) and (min-width: 768px) {
	.featured-campaigns-component img {
	  display: block;
	  line-height: 1;
	  width: 100%;
	  height: 264px;
	  object-fit: cover;
	  object-position: center;
	  -moz-transform-style: preserve-3d; 
  }
  
  .featured-campaigns-component .cpn-slide-right h3 {
	  max-height: 95px
  }
}

@media (min-width: 980px) {
	.featured-campaigns-component img {
	  display: block;
	  line-height: 1;
	  width: 100%;
	  height: 342px;
	  object-fit: cover;
	  object-position: center;
	  -moz-transform-style: preserve-3d; 
  }
  
  .featured-campaigns-component .cpn-slide-right h3 {
	  max-height: 132px;
  }
}

/***************************************************************************
                            Carousel Iframe
***************************************************************************/
@media (max-width: 654px) {
	#donationVideo iframe{
		width:100% !important;
	}
}

/***************************************************************************
                            Carousel Image Indicator
***************************************************************************/
.ico.image-indicator{
	 position: absolute; 
	 border-radius: 50%; 
	 background-color: #999999; 
	 padding: 6px; 
	 left: 1em; 
	 top: 1em;
	 z-index: 1;
}

.numeric-indicator{
	width: 1em;
	height: 1em;
	display: block;
	color: white;
	text-align: center;
}

/***************************************************************************
                             CSS FOR FIXES. OVERRIDES OTHER STYLES
***************************************************************************/
.select-like .dropdown-menu li.active a, .aui .dropdown-menu li a:link{
    color:#666;
}

.select-like .dropdown-menu li a:hover, .select-like .dropdown-menu li a:focus, .select-like .dropdown-menu li.active a, .dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li.active a{
	background-image: none !important;
	background-color: #f7f7f7 !important;
}
.aui .dropdown-menu > .active > a, .aui .dropdown-menu > .active > a:hover, .aui .dropdown-menu > .active > a:focus{
	background-image: none !important;
	background-color: #f7f7f7;
}

.select-like button:focus{
    border-bottom-color: #999;
}

.sod_select:before{
    display: none;
}

/***************************************************************************
            Saved credit card token for easy donation
***************************************************************************/
#donationsummarymodal .form-group.paymentTokens{
  font-size: .875em !important;
}
#donationsummarymodal .form-group.paymentTokens ul{
  list-style: none;
}

#donationsummarymodal .form-group.paymentTokens input[type="checkbox"]{
  width: 16px;
}

#donationsummarymodal .form-group.paymentTokens input[type="radio"]{
  width: 16px;
}

@media (max-width: 979px) {
	#donationsummarymodal .form-group.paymentTokens ul>li.text-left {
		text-align: center !important;
	}
}

@media (min-width: 980px) {
	.individual-volunteer-activities-portlet .span4.person{
		    margin-right: 10px !important;
	}
}

@media all and (max-width: 979px) and (min-width: 761px) {
  .individual-volunteer-activities-portlet .span4.person{
		    margin-left: 10px !important;
	}
}

/***************************************************************************
                                  Swipers
***************************************************************************/
.swiper-container-rtl .swiper-button-next{
  left:0;
}
.swiper-container-rtl .swiper-button-prev{
  right: 0;
}

/* overwrite giving sg style to increate label width*/
.data-list li .person .label {
    width: 80px !important;
}

/***************************************************************************
         CSS FOR LONG DISPLAY NAME IN USER SIDEBAR
***************************************************************************/
#sidebar aside.profile-nav h4, #uf-dockbar-sidebar aside.profile-nav h4 {
	word-wrap: break-word;
}

/* set width 700 for setup campaign page */
@media (min-width: 1200px){
	.width700 {
    width: 700px !important;
	}
}

/***************************************************************************
      Individual Volunteer Activities and Manage Volunteer Activities
***************************************************************************/
@media (min-width: 980px) {
	.individual-volunteer-activities-portlet .span4.person{
		    margin-right: 10px !important;
	}
}

@media all and (max-width: 979px) and (min-width: 761px) {
  .individual-volunteer-activities-portlet .span4.person{
		    margin-left: 10px !important;
	}
}

@media (max-width: 760px) {
  .table-section .span4.person{
		margin-top: 10px;
	}
	
	.table-section .t-header{
		padding-right: 0px !important;
	}
	
	.table-section .t-header .select-like.pull-left{
		  	width:100%;
		  	margin-left: 0px !important;
		  	margin-bottom: 10px !important;
		  	float: none;
	}
	
	.table-section .t-header .pull-right{
			float: none;
		  width:100%;
		  margin: 0px !important;
	}
	
	.table-section .t-header .pull-right .select-like.dropdown {
		  margin-top: 10px !important;
		  text-align: center;
	}
	
	.table-section .t-header .pull-right .select-like.dropdown ul.dropdown-menu{
		  margin-top: 5px !important;
	}
	
	.table-section .t-header #sort-by-dropdown-btn {
		  border: none !important;
	}
}

/***************************************************************************
     Edit Volunteer Activity
***************************************************************************/
input.strike-through{
	text-decoration: line-through;
}

#jira-353-content .volunteer-event .control-group{
	  margin-top: 40px;
}

#jira-353-content .volunteer-event .control-group p{
	  margin-bottom: 0px;
}

#jira-353-content .volunteer-event.control-group{
	  margin-top: 0px;
}

.duration-disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.8;
}

@media (max-width: 767px) {
	.volunteer-event div{
		margin-bottom: 0px !important;
	}
	
	.volunteer-event .btn.btn-ghost, .activity-position .btn.btn-ghost{
		width:30px !important;
	}
	
	 .volunteer-event .control-group, .activity-position .control-group {
		width: 100% !important;
		margin-top: 0px !important;
	}
	
	 .volunteer-event .control-group .pretty-text, 
	.activity-position .control-group .pretty-text {
		width: 100% !important;
	}
	
	#volunteer-step-3 div.carousel-placeholder{
		min-width: 1px !important;
	}
	
	#volunteer-step-3 div.carousel-placeholder iframe{
		width: 100% !important;
	}
	
	#volunteer-step-3 	a.img-placeholder-btn{
		margin-left: 0px !important;
	}
	
	#volunteer-step-3 .carousel-youtube-link-label{
		width: auto  !important;
	}
	#volunteer-step-3 .img-browse-btn .carousel-youtube-link-input{
		min-width: 1px !important;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	#volunteer-step-3 .control-group.span8{
		margin-left:0px;
	}
	
	#volunteer-step-1 .time-fields-wrapper .visible-desktop{
		display:block !important;
	}
	
	#volunteer-step-1 .volunteer-event .hidden-desktop{
		display:none !important;
	}
}

@media (min-width: 438px){
	.btn-large-custom-max-height {
		height:100% !important;
		max-width:200px !important;
	}	
}
@media (max-width: 438px){
	#campaign-submit-btn{
		width:100% !important;
		height:100% !important;
	}
}
/** increate min height for npo title to fit 3 row **/
/** override giving.sg style **/
.txt-npo {
    min-height: 3.75em !important;
}

/***************************************************************************
     Start Volunteer Activity
***************************************************************************/
@media (min-width: 768px) and (max-width: 979px) {
	#jira-353-content .volunteer-event label.control-label {
		min-height: 38px;
	}
}

@media (max-width: 767px) {
	#jira-353-content .volunteer-event .control-group span.help-block{
		width: 100% !important;
	}
}

/***************************************************************************
     Manage Volunteer Contacts
***************************************************************************/
button#manage-volunteer-contacts, button#start-volunteer-activity{white-space: nowrap;text-transform: uppercase;}

@media (max-width: 767px) {

	.aui .volunteer-contact .data-list-item .span5:nth-child(2){
		margin-right: 15px;
	}
	.aui .volunteer-contact .data-list-item .span5:nth-child(2) .span6{
		width: 100% !important;
	}

	.aui .volunteer-contact .block.email a{
		  display: block;
		  max-width: 100% !important;
		  text-overflow: ellipsis;
		  white-space: nowrap;
		  overflow: hidden;
	}
}

/***************************************************************************
     message notified responsive
***************************************************************************/
@media (max-width: 767px) {
	.notifyjs-corner {
		max-width:350px;
	}

	.notifyjs-container span {
		word-wrap: break-word;
		white-space: pre;
	}
}

/***************************************************************************
     Improvement to style of the duration __ days (delete the space)
***************************************************************************/
.steps-content .input-prepend.days-row{
	padding-right:35px !important;
}
#endDateText{
	white-space: initial !important;
	text-align: center !important;
}

/***************************************************************************
    Fix for volunteer modal in mobile
***************************************************************************/

@media (max-width: 767px) {
	.vpos-meta .openings span{
		display: block;
		font-size: 0.889em;
	}
}

/***************************************************************************
    Removing/overriding non-responsive styles in order to make volunteer contact responsive
***************************************************************************/

@media (max-width: 767px) {
	.row-fluid.non-respv .span5{
		width: 100%;
	}
}

/***************************************************************************
    footer in desktop view
***************************************************************************/
@media (min-width: 980px) {
	#content{
		min-height: 300px;
	}
}

/***************************************************************************
    ADDED : APPLY BLUE-CI, overwriting aui default
***************************************************************************/

@media (max-width: 767px) {
	#wrapper {
	    padding-top: 50px !important;
	    position: relative;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.aui .row-fluid .span8 {
	    width: 100%;
	}
}

.aui .modal-footer {
    background: #F5F5F5;
    border-top: 0px solid rgb(221, 221, 221);
}

.aui #npoCarousel .carousel {
    position: inherit;
    margin-bottom: 20px;
    line-height: 1;
}


/***************************************************************************
    ADDED : APPLY BLUE-CI, overwriting giving sg by ufinity
***************************************************************************/

.aui button.close, .aui button.btn.close {
	min-width: 50px;
}

@media (max-width: 767px) {
	div.clickable > a.img-placeholder-btn {
	    margin-top: 10px !important;
	}
}

/***************************************************************************
    ADDED : APPLY BLUE-CI, changes to be made on giving sg / blue ci .css
***************************************************************************/

#tmpGender input{
	width: 20px !important;
}

.boxed-wrapper {
    margin-top: 0px !important;
}

/* added important to overwrite aui indicator*/
.landing-cpn-slider-wrapper span.swiper-pagination-bullet.swiper-pagination-bullet-active, .carousel-indicators li.active {
    background-color: #17A4E1 !important;
}

/* overwrite giving sg style .aui .btn-success */
.aui .btn-success.m-bot10, .aui .btn-default.m-bot10 {
	margin-bottom: 10px !important;
}

.fr-widget > h4 {
    margin-top: 20px !important;
}

.cpn-sgtn-item:hover .btn:not(.load-all-results) {
    background-color: #117ca9 !important;
    color: #ffffff;
}

.aui #tax-deduc, .aui .box.reset { 
	margin-left: 0px;
}

@media (max-width: 979px) {
	.upload-section .input-append {
	    padding-left: 2px;
	    max-width: 150px;
	}
}

/***************************************************************************
    ADDED : APPLY BLUE-CI, changes to be made on giving sg / blue ci .css
***************************************************************************/
/* commented padding top for uf-dockbar-navbar.css */
/* #uf-dockbar-cart padding-top: 70px; */

/* commented position: absolute for uf-dockbar-navbar.css to prevent nav scroll */
/* @media only screen and (min-width: 769px) { */
/* #main-nav { position: absolute; } */

#uf-dockbar-search-desktop.active {
  	z-index: 1; 
}

@media only screen and (min-width: 1200px) {
  /* hide all nav items except first five */
  #main-nav li:nth-child(n+6) {
    display: none !important;
  }
}

#uf-dockbar-search-mobile input[type="submit"] {
    top: 10px !important;
}

@media only screen and (min-width: 769px) {
	#main-nav {
		max-height: 70px;
		max-width: 500px;
	}
}

/*********************************************
	 causes 
**********************************************/
.cause-box input[type=checkbox]+label:before, .cause-box a h4 {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 979px) {
	.cause-box input[type=checkbox]:checked + label:after {
		right: 25px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.donation-wrapper .cause-box input[type=checkbox] + label:before,
	#orgCausesInfo .cause-box input[type=checkbox] + label:before {
	    max-width: 90%;
	}
	
	.donation-wrapper .cause-box input[type=checkbox] + label:before,
	#orgCausesInfo .cause-box input[type=checkbox] + label:before {
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    margin: auto;
	}
	
	.donation-wrapper .cause-box input[type=checkbox] + label,
	#orgCausesInfo .cause-box input[type=checkbox] + label {
	    height: 50px !important;
	}
}

@media (max-width: 767px) {
	#orgCausesInfo .cause-box input[type="checkbox"] + label::before { 
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin: auto;
		max-width: 90%;
	}
}
.cause-box input[type=checkbox]:checked + label:after {
    display:none !important;
    top: 3px !important;
    right: 0px !important;
}

 /* NPO Listing */
#npo-listing .bg-lightgrey { 
	background:url(../images/img-header-npolisting.jpg) no-repeat 0 0/cover !important; 
	min-height:300px !important; 
	background-position: right 0px top !important;
}

/* campaigns Listing */
#campaign-listing .bg-lightgrey { 
	background:url(../images/img-header-campaigns.jpg) no-repeat 0 0/cover !important; 
	min-height:300px !important;
	background-position: right 0px top !important;
}

/* volunteer Listing */
#volunteer-listing .bg-lightgrey { 
	background:url(../images/img-header-volunteer.jpg) no-repeat 0 0/cover !important; 
	min-height:300px !important;
	background-position: right 0px top !important;
}

.ttl-row h3 {
    width: 100% !important;
    text-align: center !important;
}

.landing-cpn-slider-wrapper .slider-navigation .navigation-inner {
    width: 260px !important;
}

#setup-dtn-carousel .carousel-control:hover, 
.carousel-control:hover, 
.cpn-holder .swiper-button-prev:hover, 
.cpn-holder .swiper-button-next:hover, 
.landing-cpn-slider-wrapper .swiper-button-next:hover, 
.landing-cpn-slider-wrapper .swiper-button-prev:hover {
    z-index: 100 !important;
}

.steps-content .input-prepend.days-row .txt-days {
    font-size: 1em;
}

#campaignGoal {
	width: 93% !important;
}

#displayTitle {
	text-transform: capitalize;
}

#_orgcreation_WAR_givingsgorgportlet_step_3 .modal .row-fluid .span6 {
    padding: 0em !important;
}

#user-about-links div.decor-field input#shortUrlGenerator {
	margin-left: 0px !important;
}

#user-about-links .input-append.input-prepend, 
#user-about-links .decor-field.pull-left {
    width: 100%;
    float: none;
}
#user-about-links {
	min-height: 230px;
}
#user-about-links, #collapse-campaign-url .custom-control-group.error {
	width:85% !important; margin:0 auto;
}

#collapse-campaign-url .custom-control-group.error #url-error {display: none; max-height: 90px;}

#collapse-campaign-url #shortUrl {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.carousel-youtube-link-label {
	min-height: 20px;
}

.steps-content .add-on {
    margin-left: 1px !important;
}

#campaignVideo{
	min-height:30px;
}

@media (max-width: 979px) {
	.image-upload-div button {
		font-size: 12px !important;
	}
}

/*************************************/
/* CI UPDATE FOR 27/11/2015 release
/*************************************/
/*DB COMMENT*/
@media (max-width: 767px) and (max-width: 979px) {
	.aui .modal .btn {
	    width: auto;
	}
}

.aui select, .aui textarea, .aui input[type="text"], .aui input[type="password"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="date"], .aui input[type="month"], .aui input[type="time"], .aui input[type="week"], .aui input[type="number"], .aui input[type="email"], .aui input[type="url"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="color"], .aui .uneditable-input {
	font-size: 100%;
}

.aui textarea, .aui input {
    font-size: 1em;
    line-height: 1.4;
    word-wrap: break-word;
}

.modal .btn.close:focus, 
.modal .btn.close:focus, 
.modal .btn.close:hover, 
.modal .btn.close.active, 
.modal .btn.active.close {
	box-shadow: none !important;
}

.choice-buttons button {
    background: #FFF none repeat scroll 0% 0% !important;
    border: 1px solid #DDD !important;
}

.choice-buttons button.yes:hover, .choice-buttons button.yes.active {
    background: #43AD49 !important;
    color: #FFF !important;
}

.choice-buttons button.no:hover, .choice-buttons button.no.active {
    background-color: #F16577 !important;
    color: #FFF !important;
}

.popover-content .btn.pull-right {
    width: 70px;
}

@media (max-width: 979px) {
	.non-respv .ui.checkbox {
    	padding-left: 10px !important;
	}
}

@media (max-width: 767px) {
	#cpn-info {
	    width: 100% !important;
	}
}

@media (max-width: 600px) {
	#cpn-info {
	    width: 110% !important;
	}
}

.btn:disabled, .aui .btn:disabled {
    color: inherit !important;
}

#portlet_search_WAR_givingsgportlet .refine-search .checkbox-clone.checked:before {
    color: #43AD49 !important;
}

#portlet_search_WAR_givingsgportlet .refine-inputs input[type=checkbox] + label {
	font-size: 1em !important;
	line-height: 17.5px !important;
}

#portlet_search_WAR_givingsgportlet .refine-inputs input[type=checkbox]:checked + label, 
#portlet_search_WAR_givingsgportlet .refine-inputs .checkbox-clone { 
    color: #333 !important;
    font-size: 1em !important;
    line-height: 17.5px !important;
    margin-bottom: 10px;
}

.checkbox-clone.checked[data-parent="ref_allcauses"]:before, .checkbox-clone.checked[data-parent="ref_campaigns"]:before, .checkbox-clone.checked[data-parent="ref_allorgs"]:before {
    content: "\f0d7" !important;
}

#editDonation h6 {
	font-size: 0.475em !important;
}

div.cpn-contact-info {
	text-align: left;
}

ul.side-contact-lst {
    margin: 0 !important;
    padding: 0 10px 20px !important;
}

div.side-contact {
	padding-left: 10px !important;
}

#cpn-meta .span4 h5, .contact-us h5 .contact-us h4{
    font-size: 1.125em !important;
}

.roleSwitch .fa-check-circle:before {
    content: "\f058" !important;
}

.modal-dtn-amts .dtn-amt-item {
	cursor: pointer;
}

.signupnpo .start-cta {
	min-height: 350px !important;
}

#npoCarousel .carousel-indicators {
	position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -17px !important;
}

@media (max-width: 979px) {
	div#sidebar.non-respv {
	    display: none !important;
	}
	.landing-cpn-slider-wrapper h3.text-left {
	    font-size: 1.2em !important;
	    line-height: 1.3;
	}
}

.campaign-stats + button.btn-success {
	margin-bottom: 0px !important;
}

.campaign-stats h4 {
    font-weight: 500;
}

.cpn-slide-right .campaign-stats {
    margin: 2.25em 1em 1em !important;
}

.short .cpn-sgtn-item .sgtn-body {
    min-height: 100px;
}

.accordion-content .cpn-sgtn-item .sgtn-body {
    min-height: 100px;
}

#selAmount.mobile-customInput {
	border: medium none !important;
	width: 160px !important
}

#selAmount.mobile-customInput .sod_label{
	font-size: 20px !important;
}

.mobile-customAmt {
    margin-top: -10px;
    display: none;
}

.mobile-customAmt .input-append .span8 {
    width: 100px !important;
    margin-right: 5px;
    font-size: 24px !important;
    height: 35px;
    text-align: right !important;
    padding: 0px 5px;
}

.mobile-customAmt #ownAmt {
	text-align: center !important;
}

.mobile-customAmt span.add-on {
    border: medium none !important;
    background: transparent none repeat scroll 0% 0% !important;
    font-size: 18px !important;
    line-height: 1.8 !important;
}

.main-content .ttl-row h3 {
    width: 65% !important;
    text-align: left !important;
    font-size: 1.75em !important;
    margin-bottom: 10px !important;
}


.dashboard .section-title {
    font-size: 1.125em !important;
}

.aui .sgtn-body h5 {
    min-height: 3.44em;
}

.cpn-slide-right h3 {
    font-size: 1.5em !important;
}


/** following are hotfixes in production environment, please remove upon 1.0.3 release*/
@media (max-width: 979px) {
	.row-fluid .social-share a {
		width: 40px !important; 
	}
}

@media (max-width: 767px) {
	/* .bg-lightgrey h3.landing {
		font-size: 1.5em !important;
	} */
}

.pre-footer-social .social-share {
	width: 100%;
}

#gf-bkt-wrapper .gf-bkt tr td .fa-check-circle-o::before {
    content: "" !important;
}

.gf-bkt tr td .tax-statement.info {
	color: #333 !important;
}

#campaign-listing .bg-lightgrey {
    margin-bottom: 30px;
}

.wrapper-925 .acc-toggle.landing {
	font-size: 2.125em !important;
}

@media (max-width: 767px) {
	.wrapper-925 .acc-toggle.landing {
		font-size: 1.0625em !important;
	}
}

/* prevent double cross icon */
.aui.mobile .controls .btn-search-cancel .icon-remove {
   display: none;
}

.row-fluid .centered, .aui .centered, .aui .row-fluid .centered, .aui .row-fluid .social-share .span8, .aui .row-fluid .social-share .span10 {
    margin-left: auto !important;
}

.aui #main-nav-header {
	min-height: 51px;
}

.aui .pre-footer-social .cpn-url-box {
	margin: auto !important;
}

.aui #copy-url {
	margin-top: 0px;
}

/* centralize button in modal*/
.modal .btn {
	margin-left: auto !important;
	margin-right: auto !important;
}

/* solve text overlap with tdr icon  */
#cpn-donate-now .box > h4 + .indicate-tdr, #cpn-donate-now .box > h4 + span {
    padding-left: 30px;
}

@media (min-width: 1200px) {
	.aui .modal .row-fluid [class*="span"]:not(.alert-info) {
	    margin-left: 0;
	}
}

@media (max-width: 767px) and (max-width: 979px) {
	.aui .btn {
	    display: inline-block;
	    width: auto;
	}
}

#btnLoadMore {
	margin: auto;
}

.aui .modal .btn-block { 
	width: auto;
}

.aui .btn-group > .btn:first-child {
    margin-left: 0 !important;
}

.aui .btn-group > .btn + .btn {
    margin-left: -1px !important;
}

.aui .btn-group > .btn:first-child, .aui .btn-group > .btn + .btn {
   margin-right: -4px !important;
   margin-bottom: 0px;
}

.aui .volunteering .btn-group > .btn:first-child, .aui .volunteering .btn-group > .btn + .btn {
   margin-right: 0px !important;
}

.aui .volunteering .btn-group.open .btn.dropdown-toggle {
    background-color: #eaeaea;
}

.aui .volunteering .btn-group > .btn + .dropdown-toggle {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 979px) and (min-width: 768px) {
	.volunteering .row-fluid .span4, .aui .volunteering .row-fluid .span4 {
	    width: 31.49171%;
        margin: auto 0;
	}
}

@media (max-width: 767px) {
	.volunteering #sortable .span4.person {
	    margin-top: 0px !important;
	}

	.aui .volunteering .data-list li .person-actions {
	    min-height: 100px;
	}
	
	.volunteering .select-like, 
	.volunteering #sortable.table-section .t-header .select-like.pull-left,
	.volunteering .event-header-titles .btn-group.pull-left {
		clear: both;
	    float: none !important;
    	text-align: center;
	}
	
	.volunteering #sortable .span1.pull-left {
		text-align: center;
	}
	
	.aui .volunteering .checkbox {
		padding-left: 0px;
	}
	
	.aui .volunteering #tab00 .data-list .data-list-item {
		padding-right: 0px;
	}
}

.aui .volunteering .select-like.hidden {
	display: none;
}

.aui .volunteering .data-list li .person .label {
	margin-left: 0px;
	margin-top: 10px;
}

.aui .volunteering .data-list .btn.manage-sign-up {
	margin-top: 10px;
}

/* button group styling for sign up and donation model*/
#createusermodal .btn-toggle .btn span {
    width: 100% !important;
    text-align: center;
}

#createusermodal .btn-group > .btn {
    min-height: 80px;
    min-width: 33%;
    max-width: 33%;
}

@media (max-width: 767px) {
	.aui .btn-group > .btn {
	    display: inline-block;
	}
}

.payType .btn-group > .btn:first-child, .payType .btn-group > .btn + .btn {
	margin: 0px !important;
}

.payType {
	margin: 0px 30px !important;
}

/*************** listing *****************/
#portlet_managecampaigns_WAR_givingsgportlet .cpn-suggestions,
.wrapper-npoListing .cpn-suggestions {
	padding: 0px !important;
	margin: 0px !important;
}

#portlet_managecampaigns_WAR_givingsgportlet .cpn-sgtn-item {
	height: auto !important;
}

.wrapper-npoListing .listings-wrapper .cpn-sgtn-item,
#volunteer-listing .listings-wrapper .cpn-sgtn-item {
	max-height: 420px;
    min-height: 420px;
}

#portlet_search_WAR_givingsgportlet .listings-wrapper .cpn-sgtn-item {
    max-height: 435px;
    min-height: 435px;
}

#portlet_managecampaigns_WAR_givingsgportlet .listings-wrapper .cpn-sgtn-item {
    max-height: 730px;
    min-height: 590px;
}

.aui .cpn-sgtn-item .sgtn-body .heading-group { 
    max-height: 6.5em;
} 

.cpn-sgtn-item .sgtn-img {
    background: white;
}

.aui .cpn-sgtn-item .sgtn-img {
	max-width: 270px;
	min-height: 136px;
}

.aui .cpn-sgtn-item .box-r-footer,
.aui .cpn-sgtn-item .sgtn-img .box-r-footer {
   background: transparent;
}

#home-trending-campaigns .cpn-sgtn-item .sgtn-img {
    min-height: 152px;
}

.aui .swiper-container-horizontal .cpn-suggestions .swiper-slide {
	display: block !important;
	max-width: 270px !important;
	max-height: 500px !important;
}

.listings-wrapper #favNPOListing .cpn-sgtn-item {
    margin: 1em 0.35em 0.5em;
    margin-top: 1em;
    margin-right: 0.35em;
    margin-bottom: 0.5em;
    margin-left: 0.35em;
}

/* time text color for volunteer activity card */
.cpn-suggestions .cpn-sgtn-item span.block,
.listings-wrapper .cpn-sgtn-item span.block,
.listings-wrapper .campaign-stats {
    color: #172A35;
}

/********************************/

/* footer */
.pre-footer-social input.span9 {
    width: 71% !important;
} 

.aui .cpn-url-box button, .aui .input-append .btn:last-child { 
	margin-top:0px;
} 

@media (max-width: 979px) and (min-width: 768px) {
	.aui .pre-footer-social .social-share{margin-left:0px !important}
}

@media (max-width:480px) {
    .pre-footer-social #mc-embedded-subscribe-form .cpn-url-box { width:80%; }
    .pre-footer-social #mc-embedded-subscribe-form .cpn-url-box input { display: block; width:100% !important; }
    .pre-footer-social #mc-embedded-subscribe-form .cpn-url-box button { 
        width:50%; margin:10px auto; border-radius:6px; display: block; }
}

.aui .pre-footer .acc-toggle {
    color: #fff !important;
}

/* cart checkout button and multiple donation page */
#vw-gift-bkt-donate .gf-bkt tbody tr td:first-child{
    color:#172A35; font-weight:500;
}

.aui #uf-dockbar-cart .checkout-btn {
    background: #17A4E1;
}

/* causes */
.aui .custom-causes-container .cause-box.span4{
    max-height: 50px;
}

.aui .custom-causes-container .cause-box a.mobile-block {
	display: none !important;
}

.aui .custom-causes-container .cause-box input[type=checkbox] + label:before  {
	font: 16px/1.25 "Roboto", Arial, sans-serif;
	font-size: 1em;
    line-height: 2em;
	width: 100%;
}

.aui .custom-causes-container .cause-box input[type=checkbox] + label:hover:before, 
.aui .custom-causes-container .cause-box input[type=checkbox]:checked + label:before {
	color: #fff;
    background: #17A4E1;
}

.aui .custom-causes-container .cause-box input[type=checkbox] + label:before  {
	font: 16px/1.25 "Roboto", Arial, sans-serif;
	font-size: 1em;
    line-height: 2em;
	width: 100%;
}

.aui .custom-causes-container .cause-box input[type=checkbox] + label:hover:before, 
.aui .custom-causes-container .cause-box input[type=checkbox]:checked + label:before {
	color: #fff;
    background: #17A4E1;
}

.aui .control-group  .cause-box input[type=checkbox] + label:before  {
	font: 16px/1.25 "Roboto", Arial, sans-serif;
	font-size: 1em;
    line-height: 2em;
	width: 100%;
}

.aui .control-group  .cause-box input[type=checkbox] + label:hover:before, 
.aui .control-group  .cause-box input[type=checkbox]:checked + label:before {
	color: #fff;
    background: #17A4E1;
}

.aui .custom-causes-container .control-group.error {
	clear:both;
}

/* centralize causes label in home page*/
#manage-all-causes .cause-box a h4 {
    color: #fffdfd!important;
    text-align: center;
}

/* RESPOnSIVE CAROUSEL IMAGE FOR NPO and CAMPAIGN PAGE*/
.swiper-button-prev, 
.swiper-button-next, 
.aui .swiper-button-prev, 
.aui .swiper-button-next, 
.carousel-control, .aui .carousel-control {
	display: table !important;
}

@media (max-width: 767px) {
	.aui .home-slider .swiper-button-next, .aui .home-slider .swiper-button-prev {
		display: none !important;
	}
}

#dtn-cause-images {
	overflow: visible;
}

#setup-dtn-carousel img {
	display: block;
	line-height: 1;
	width: 100%;
    height: 368px;
    min-height:368px;
	object-fit: cover;
	object-position: center;
	-moz-transform-style: preserve-3d; 
}

@media (max-width:480px) {
	#setup-dtn-carousel img {
	    height: 221px;
	    min-height: 221px;
	}
}

@media (max-width: 767px) {
	#editDonationLink {
		float:none;
	}
	
	.image-upload-toggle.img-browse-btn {
	    background: rgba(0,0,0,0.2);
	    padding: 0px 20px;
	}
}

/* text area styling for campaign, profile, vol */
.aui textarea, .aui .steps-content textarea, .aui .pretty-text textarea {
	height: auto;
    min-height: 120px !important;
    overflow: auto;
    resize: vertical;
}

/* fix time picker popup position issue */
.aui body .yui3-widget.timepicker-popover .popover-content, 
.aui .yui3-widget.timepicker-popover .popover-content {
	width: 100%;
}
.aui body .yui3-widget.timepicker-popover .yui3-widget.yui3-widget-positioned {
	width: 270px !important;
}

/* manage volunteer attendance page */
.markAllAsAttendedContainer {
	margin-top:2px;
}
.markAllAsAttendedContainer .volunteer-check + label {
	margin-top:10px
}
#markAllAsAttended {
	line-height: 2.3;
	margin-left: 8px;
}

.aui body .input-append .add-on, .aui body .input-prepend .add-on {
    border: none;
    font-size: 16px;
    line-height: 1.8;
    padding: 0;
    padding: 6.5px 5px;
    font-size: 12.8px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    background-color: #eee;
}

/* margin top for role description in campaign creation*/
.small.grey.m-top20 {
	margin-top: 20px;
}

/* margin top for all error page */
.span12.box.m-top30 {
	margin-top: 30px;
}

.aui button.m-top10 {
	margin-top: 10px;
}

#gf-bkt-login .control-group.m-top40 {
	margin-top: 40px;
}

/* set min height for campaign submission form : issue - 123 */
form + #secondSection {
	min-height: 900px;
}

/* campaign creation button overlap with text due to background color for aui btn class : issue - 138 */
.aui .start-campaign-area .btn-block a {
	background:none;
	padding-left: 0px;
}
/* sub campaign / fundraise button allignment issue */
#cpn-meta .special-btn a.action-link {
	padding-left: 0px !important;
}

/* force tdr to be display in mobile */
#cpn-donate-now .box.hidden-phone.m-top0 {
	display:block !important
}

/***************************************************************************/
/* donors wrapper */
/* donors wrapper height for load more button */
/* dr-img height get overidded by .aui img height:auto*/
/***************************************************************************/
.dr-img-wrapper.closed {
    max-height: 130px !important;
}
.dr-img-wrapper.open {
    max-height: 500px !important;
}
.aui .dr-img-wrapper .dr-img.img-circle {
	height: 50px;
	width: 50px; 
	max-height: 50px;
	min-height: 50px;
}

/***************************************************************************
    Home page: trending campaign 
***************************************************************************/
.aui #home-trending-campaigns .ttl-row .btn {
	padding: 10px 25px !important;
	font-size: 14px;
}

.aui #home-trending-campaigns .ttl-row .btn:hover, 
.aui #home-trending-campaigns .ttl-row .btn:active, 
.aui #home-trending-campaigns .ttl-row .btn:focus {
	background-color: #0E678E;
	color: #FFF;
}

.aui #home-trending-campaigns .btn-large-custom {
    height: 48px;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1em;
}

.aui [data-icon]:before {
	font-family: "Roboto", Arial, sans-serif;
}

#home-trending-campaigns .main-content .ttl-row h3 {
	width: 100%!important;
	text-align: center!important;
	font-weight: normal;
}
@media (max-width: 767px) {
	#home-trending-campaigns .main-content .ttl-row h3 {
		width: 65% !important;
		text-align: left !important;
	}
}


/* npo title or campaign title in mobile */
@media (max-width: 767px) {
	.aui h3.p-title {
	    font-size: 1.5rem !important;
	}
}

/* set font size for subscript form */
#mce-EMAIL {
	font-size: 16px;
}

/* breakword when text overflow out of contact us box */
.aui .side-contact-lst,
.side-contact p {
	overflow: hidden;
    word-wrap: break-word;
}



/* volunteer sign up, require approval font : issue - 136*/
.summary-wrapper h4.requireApproval {
	line-height: 20px !important;
	font-size: 16px;
}

.aui .m-left0 {
    margin-left: 0 !important;
}

@media (min-width: 1200px) {
	.aui .modal .row-fluid .span6 {
	    width: 50%;
	    padding-left: 1.75em !important;
        padding-right: 1.75em !important;
	}
}


/* hide tick icon for agree box in donation modal */
.aui #agree + .help-block {
    display: none !important;
}

.aui .control-group.error p.small.grey {
    color: rgb(241, 101, 119);
}
