/* COLOR PALETTE */
/* PRIMARY COLOR BLUE */
/*.blue { background-color: #17a4e1 !important; }*/
.blue-text { color: #17a4e1 !important; }

.blue.light-50, .blue.accent-100 { background-color: #FFF !important; }
.blue-text.text-light-50, .blue-text.text-accent-100 { color: #FFF !important; }

.blue.light-100, .blue.accent-200 { background-color: #BCE6F8 !important; }
.blue-text.text-light-100, .blue-text.text-accent-2 { color: #BCE6F8 !important; }

.blue.light-200 { background-color: #8AD3F3 !important; }
.blue-text.text-light-200 { color: #8AD3F3 !important; }

.blue.light-300 { background-color: #49bbec !important; }
.blue-text.text-light-300 { color: #49bbec !important; }

.blue.light-400, .blue.accent-400 { background-color: #2db1ea !important; }
.blue-text.text-light-400, .blue-text.text-accent-400 { color: #2db1ea !important; }

.blue.dark-600 { background-color: #1490c5 !important; }
.blue-text.text-dark-600 { color: #1490c5 !important; }

.blue.dark-700, .blue.accent-700 { background-color: #117ca9 !important; }
.blue-text.text-dark-700, .blue-text.text-accent-700 { color: #117ca9 !important; }

.blue.dark-800 {background-color: #0e678e !important; }
.blue-text.text-dark-800 { color: #0e678e !important; }

.blue.dark-900 {background-color: #0c5372 !important; }
.blue-text.text-dark-900 { color: #0c5372 !important; }

/* PRIMARY COLOR GREEN */
.green { background-color: #74ac40 !important; }
.green-text { color: #74ac40 !important; }

.green.light-50, .green.accent-100 { background-color: #fbfdf9 !important; }
.green-text.text-light-50, .green-text.text-accent-100 { color: #fbfdf9 !important; }

.green.light-100, .green.accent-200 { background-color: #d4e8c1 !important; }
.green-text.text-light-100, .green-text.text-accent-2 { color: #d4e8c1 !important; }

.green.light-200 { background-color: #b7d998 !important; }
.green-text.text-light-200 { color: #b7d998 !important; }

.green.light-300 { background-color: #93c564 !important; }
.green-text.text-light-300 { color: #93c564 !important; }

.green.light-400, .green.accent-400 { background-color: #838d4e !important; }
.green-text.text-light-400, .green-text.text-accent-400 { color: #838d4e !important; }

.green.dark-600 { background-color: #659638 !important; }
.green-text.text-dark-600 { color: #659638 !important; }

.green.dark-700, .green.accent-700 { background-color: #567f2f !important; }
.green-text.text-dark-700, .green-text.text-accent-700 { color: #567f2f !important; }

.green.dark-800 {background-color: #476927 !important; }
.green-text.text-dark-800 { color: #476927 !important; }

.green.dark-900 {background-color: #38531f !important; }
.green-text.text-dark-900 { color: #38531f !important; }

/* PRIMARY COLOR PINK */
.pink { background-color: #fbf4f4 !important; }
.pink-text { color: #fbf4f4 !important; }

.pink.light-50, .pink.accent-100 { background-color: #FFF !important; }
.pink-text.text-light-50, .pink-text.text-accent-100 { color: #FFF !important; }

.pink.light-100, .pink.accent-200 { background-color: #fbf4f4 !important; }
.pink-text.text-light-100, .pink-text.text-accent-2 { color: #fbf4f4 !important; }

.pink.light-200 { background-color: #edc9c9 !important; }
.pink-text.text-light-200 { color: #edc9c9 !important; }

.pink.light-300 { background-color: #db9494 !important; }
.pink-text.text-light-300 { color: #db9494 !important; }

.pink.light-400, .pink.accent-400 { background-color: #d47d7d !important; }
.pink-text.text-light-400, .pink-text.text-accent-400 { color: #d47d7d !important; }

.pink.dark-600 { background-color: #c44f4f !important; }
.pink-text.text-dark-600 { color: #c44f4f !important; }

.pink.dark-700, .pink.accent-700 { background-color: #b83d3d !important; }
.pink-text.text-dark-700, .pink-text.text-accent-700 { color: #b83d3d !important; }

.pink.dark-800 {background-color: #a13636 !important; }
.pink-text.text-dark-800 { color: #a13636 !important; }

.pink.dark-900 {background-color: #8a2e2e !important; }
.pink-text.text-dark-900 { color: #8a2e2e !important; }

/* PRIMARY COLOR ORANGE */
.orange { background-color: #C96 !important; }
.orange-text { color: #C96 !important; }

.orange.light-50, .orange.accent-100 { background-color: #FFF !important; }
.orange-text.text-light-50, .orange-text.text-accent-100 { color: #FFF !important; }

.orange.light-100, .orange.accent-200 { background-color: #fbf7f4 !important; }
.orange-text.text-light-100, .orange-text.text-accent-2 { color: #fbf7f4 !important; }

.orange.light-200 { background-color: #eddbc9 !important; }
.orange-text.text-light-200 { color: #eddbc9 !important; }

.orange.light-300 { background-color: #dbb894 !important; }
.orange-text.text-light-300 { color: #dbb894 !important; }

.orange.light-400, .orange.accent-400 { background-color: #d4a87d !important; }
.orange-text.text-light-400, .orange-text.text-accent-400 { color: #d4a87d !important; }

.orange.dark-600 { background-color: #c48a4f !important; }
.orange-text.text-dark-600 { color: #c48a4f !important; }

.orange.dark-700, .orange.accent-700 { background-color: #b87a3d !important; }
.orange-text.text-dark-700, .orange-text.text-accent-700 { color: #b87a3d !important; }

.orange.dark-800 {background-color: #a16b36 !important; }
.orange-text.text-dark-800 { color: #a16b36 !important; }

.orange.dark-900 {background-color: #8a5c2e !important; }
.orange-text.text-dark-900 { color: #8a5c2e !important; }

/* PRIMARY COLOR YELLOW */
.yellow { background-color: #f6f09a !important; }
.yellow-text { color: #f6f09a !important; }

.yellow.light-50, .yellow.light-100, .yellow.light-200, .yellow.accent-100, .yellow.accent-200 { background-color:#FFF !important; }
.yellow-text.text-light-50, .yellow-text.text-light-100, .yellow-text.text-light-200,
    .yellow-text.text-accent-100, .yellow-text.text-accent-200 { color: #FFF !important; }

.yellow.light-300 { background-color: #fbf8d2 !important; }
.yellow-text.text-light-300 { color: #fbf8d2 !important; }

.yellow.light-400, .yellow.accent-400 { background-color: #f9f4b6 !important; }
.yellow-text.text-light-400, .yellow-text.text-accent-400 { color: #f9f4b6 !important; }

.yellow.dark-600 { background-color: #f3ec7e !important; }
.yellow-text.text-dark-600 { color: #f3ec7e !important; }

.yellow.dark-700, .yellow.accent-700 { background-color: #f1e862 !important; }
.yellow-text.text-dark-700, .yellow-text.text-accent-700 { color: #f1e862 !important; }

.yellow.dark-800 {background-color: #eee346 !important; }
.yellow-text.text-dark-800 { color: #eee346 !important; }

.yellow.dark-900 {background-color: #ecdf2a !important; }
.yellow-text.text-dark-900 { color: #ecdf2a !important; }

/* PRIMARY COLOR BIEGE */
.biege { background-color: #f9f6ec !important; }
.biege-text { color: #f9f6ec !important; }

.biege.light-50, .biege.light-100, .biege.light-200, .biege.light-300, .biege.light-400,
    .biege.accent-100, .biege.accent-200, .biege.accent-400 { background-color:#FFF !important; }
.biege-text.text-light-50, .biege-text.text-light-100, .biege-text.text-light-200, .biege-text.text-light-300,
    .biege-text.text-light-400, .biege-text.text-accent-100, .biege-text.text-accent-200,
    .biege-text.text-accent-400 { color: #FFF !important; }

.biege.dark-600 { background-color: #f2ebd5 !important; }
.biege-text.text-dark-600 { color: #f2ebd5 !important; }

.biege.dark-700, .biege.accent-700 { background-color: #eae0bd !important; }
.biege-text.text-dark-700, .biege-text.text-accent-700 { color: #eae0bd !important; }

.biege.dark-800 {background-color: #e3d5a6 !important; }
.biege-text.text-dark-800 { color: #e3d5a6 !important; }

.biege.dark-900 {background-color: #dcca8f !important; }
.biege-text.text-dark-900 { color: #dcca8f !important; }

/* PRIMARY COLOR LIGHT GREY */
.light-grey { background-color: #CCC !important; }
.light-grey-text { color: #CCC !important; }

.light-grey.light-50, .light-grey.light-100, .light-grey.light-200, .light-grey.accent-100, 
    .light-grey.accent-200 { background-color:#FFF !important; }
.light-grey-text.text-light-50, .light-grey-text.text-light-100, .light-grey-text.text-light-200,
    .light-grey-text.text-accent-100, .light-grey-text.text-accent-200 { color: #FFF !important; }

.light-grey.light-300 { background-color: #ebebeb !important; }
.light-grey-text.text-light-300 { color: #ebebeb !important; }

.light-grey.light-400, .light-grey.accent-400 { background-color: #dbdbdb !important; }
.light-grey-text.text-light-400, .light-grey-text.text-accent-400 { color: #dbdbdb !important; }

.light-grey.dark-600 { background-color: #bdbdbd !important; }
.light-grey-text.text-dark-600 { color: #bdbdbd !important; }

.light-grey.dark-700, .light-grey.accent-700 { background-color: #adadad !important; }
.light-grey-text.text-dark-700, .light-grey-text.text-accent-700 { color: #adadad !important; }

.light-grey.dark-800 {background-color: #9e9e9e !important; }
.light-grey-text.text-dark-800 { color: #9e9e9e !important; }

.light-grey.dark-900 {background-color: #8f8f8f !important; }
.light-grey-text.text-dark-900 { color: #8f8f8f !important; }

/* PRIMARY COLOR GREY */
/*.grey { background-color: #999 !important; }*/
.grey-text { color: #999 !important; }

.grey.light-50, .grey.accent-100 { background-color: #FFF !important; }
.grey-text.text-light-50, .grey-text.text-accent-100 { color: #FFF !important; }

.grey.light-100, .grey.accent-200 { background-color: #f7f7f7 !important; }
.grey-text.text-light-100, .grey-text.text-accent-2 { color: #f7f7f7 !important; }

.grey.light-200 { background-color: #dbdbdb !important; }
.grey-text.text-light-200 { color: #dbdbdb !important; }

.grey.light-300 { background-color: #b8b8b8 !important; }
.grey-text.text-light-300 { color: #b8b8b8 !important; }

.grey.light-400, .grey.accent-400 { background-color: #a8a8a8 !important; }
.grey-text.text-light-400, .grey-text.text-accent-400 { color: #a8a8a8 !important; }

.grey.dark-600 { background-color: #8a8a8a !important; }
.grey-text.text-dark-600 { color: #8a8a8a !important; }

.grey.dark-700, .grey.accent-700 { background-color: #7a7a7a !important; }
.grey-text.text-dark-700, .grey-text.text-accent-700 { color: #7a7a7a !important; }

.grey.dark-800 {background-color: #6b6b6b !important; }
.grey-text.text-dark-800 { color: #6b6b6b !important; }

.grey.dark-900 {background-color: #5c5c5c !important; }
.grey-text.text-dark-900 { color: #5c5c5c !important; }

/* PRIMARY COLOR DARK GREY */
/*.grey { background-color: #333 !important; }*/
.grey-text { color: #333 !important; }

.grey.light-50, .grey.accent-100 { background-color: #b8b8b8 !important; }
.grey-text.text-light-50, .grey-text.text-accent-100 { color: #b8b8b8 !important; }

.grey.light-100, .grey.accent-200 { background-color: #919191 !important; }
.grey-text.text-light-100, .grey-text.text-accent-2 { color: #919191 !important; }

.grey.light-200 { background-color: #757575 !important; }
.grey-text.text-light-200 { color: #757575 !important; }

.grey.light-300 { background-color: #525252 !important; }
.grey-text.text-light-300 { color: #525252 !important; }

.grey.light-400, .grey.accent-400 { background-color: #424242 !important; }
.grey-text.text-light-400, .grey-text.text-accent-400 { color: #424242 !important; }

.grey.dark-600 { background-color: #242424 !important; }
.grey-text.text-dark-600 { color: #242424 !important; }

.grey.dark-700, .grey.accent-700 { background-color: #141414 !important; }
.grey-text.text-dark-700, .grey-text.text-accent-700 { color: #141414 !important; }

.grey.dark-800 {background-color: #050505 !important; }
.grey-text.text-dark-800 { color: #050505 !important; }

.grey.dark-900 {background-color: #000 !important; }
.grey-text.text-dark-900 { color: #000 !important; }

.shades.black{ background-color: #000 !important; }
.shades-text.text-black, .black-text { color: #000 !important; }

.shades-text.text-black-87, .black-text-87 { color: #202020 !important; }
.shades-text.text-black-54, .black-text-54 { color: #727272 !important; }

.shades.white, .white { background-color: #FFF !important; }
.shades-text.text-white, .white-text { color: #FFF !important; }

.transparent { background-color: transparent !important; }
.text-transparent { color: transparent !important; }

/* TYPOGRAPHY FOR SERVER */
h1 { font-size:2.5em; line-height: 1.25em; margin: 2.1rem 0 1.68rem 0; }            /* 40px */
h2 { font-size:2em; line-height:1.15384615em; margin: 1.78rem 0 1.424rem 0;}         /* 36px */
h3 { font-size:1.5rem;line-height:1.13636364em;margin: .75em 0;}    /* 24px */
h4 { font-size:1.125em;margin: 0;} /* 18px */
h5 { font-size:1em; margin: 0.82rem 0 0.656rem 0; }     /* 16px */
h6 { font-size:1em; margin: 0.5rem 0 0.4rem 0; }        /* 16px */

header a, header a:link, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, 
    h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link { 
        text-decoration:none; color:#000;
    }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration:underline; }

.z-depth-0 { box-shadow: none !important; }
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn-group .btn.btn-ghost{
  box-shadow:none;
}
.btn-group .btn.btn-ghost.active,
.btn-group .btn.btn-ghost:hover{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover,.open-more:hover,  .steps-content .btn-save input:hover, .steps-content .btn-area input:hover,.add-btn-lst li a:hover ,.open-more:hover,.btn-more-img:hover{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}
.z-depth-2 { box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.z-depth-3 { box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
.z-depth-4, .modal { box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }
.z-depth-5 { box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

/* HEADER   */
#main-nav-header {
  position: fixed; top: 0; left: 0; height: 50px; width: 100%; text-align: center;
  z-index: 1030;background:#FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#main-nav {
    left: -120%;
    background: #FFF;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
}
#main-nav ul a{color: #333;text-decoration: none;}
#main-nav ul a.current{ background-color: #f0f0f0; font-weight: bold; }

/* MOBILE MENU */
#uf-dockbar-hamburger-menu a i { font-size: 1.4em; color: #333; line-height: 1.4; }

/* LOGO */
.section-page{margin-top: 37px;}
#logo { padding: 0; top: 0;position: absolute;margin: 0 auto;z-index: 1090;}
#logo a { color:#4cb848; max-width:250px;display: inline-block; text-transform: uppercase;padding: 0 1em;}
#logo img{ max-width: 170px;}


/*************************************************************/
            /* HOME PAGE CAROUSEL */
/*************************************************************/
.carousel > .ico.active .fa, .carousel > .ico:hover .fa{
    color: #93c564;
}
.home-slider .swiper-slide picture img{
      min-height: inherit;
      width: 100%;
      margin-top: -10%;}

.home-slider .swiper-slide {
  border: 0px;
  min-height: inherit;
}

.home-slider .swiper-slide picture img{
      min-height: inherit;
      height: auto;
      width: 100%;
    }
.home-slider .swiper-button-prev, .home-slider .swiper-button-next,.swiper-button-next , .swiper-button-prev {
    background-image: none !important;
}
.home-slider .swiper-button-prev:hover:before, .home-slider .swiper-button-next:hover:before, .swiper-button-next:hover:before, .swiper-button-prev:hover:before {
    color: #17A4E1;
}
.home-slider .swiper-button-prev:before, .home-slider .swiper-button-next:before, .swiper-button-prev:before, .swiper-button-prev:before {
    font-family: "fontAwesome";
    height: 40px;
    width: 40px;
    display: block;
    font-size: 3em;
    color: #666;
    line-height: 0.8;
}
.swiper-button-prev:before,.swiper-button-next:before  {
    font-family: "fontAwesome";
    height: 40px;
    width: 40px;
    display: block;
    font-size: 2.5em;
    color: #666;
    line-height: 1;
}
.home-slider .swiper-button-prev:before, .swiper-button-prev:before {
    content: "\f104";
}
.home-slider .swiper-button-next:before, .swiper-button-next:before {
    content: "\f105";
}
.landing-cpn-slider-wrapper span.swiper-pagination-bullet.swiper-pagination-bullet-active, .carousel-indicators li.active{
    background-color: #17A4E1;
}
.swiper-pagination-bullet, .carousel-indicators li{
    background-color: #666;
}
.gallery-txt-box h3 { margin-top:0;max-height: 6em; overflow:hidden;font-size: 1.5em;}
.gallery-txt-box h3 a { text-decoration:none; color: #FFF; }

.p-title.landing + p{color:#424242;}
.gallery-txt-box {
    position: absolute;
    background: #17a4e1;
    color: #fff;
    text-align: left;
    right: 14%;
    bottom: 15%;
    width: 190px;
    padding: 1em 1.5em;
    border-radius: 6px;
}

.home-slider .swiper-slide picture img{
    min-height: inherit; width: 100%; margin-top: -10%; height: auto;
}
.landing-cpn-slider-wrapper .swiper-button-prev{left: 0;}

.nl-form{
    color:#333333;
}
.nl-form .refine-inputs span{color: #333333 !important;}
.gallery-date-box { 
    border-top: 1px solid #73C8ED; margin: 1em -1.5em 0;padding: 1em 1em .5em;
}
.gallery-txt-box p { margin: 0 0 30px; font-size: .9em; float: left; }
.gallery-txt-box .fa-stack { float:right; }
.gallery-date-box .fa-stack-2x { font-size:1.2em; }
.gallery-date-box .fa-stack-1x { font-size:.4em; top: -4px; } 
.gallery-txt-box button{
    padding: 10px 20px !important;
    text-transform: uppercase;
}
.gallery-txt-box button:hover{
    background-color: #8AD3F3 !important;
}
.btn-ghost { border:0 ; }
/* Why Giving  Corporate Identity CHANGE (BLUE) */
.inform-area h3 { font-size: 1.5em; }   /* 24px */
.inform-add-lst .img{padding:0 0 10px;}
.text-block-add { background: #ededed; }
.text-block-add:before { border-color: #ededed transparent transparent transparent; }


/* Why Giving TYPO 1 scale downwards
Corporate Identity CHANGE (BLUE) */
/* Causes Display */
#causes-mobile { background-color: #17a4e1; }
#causes-mobile h3 { color: #FFF; padding:2em 0 0; font-size:1.75em; }

.cause-box img {background: #e8e8e8;height: 100%;}

.donation-wrapper #causes-wrapper .cause-box { border:1px solid #ccc;border-radius: 6px; }

.cause-box a, .cause-box a:link { text-decoration:none; }
    .cause-box a:hover h4, .cause-box a:active  h4 { 
        text-decoration:none; color: #ffffff !important; 
    }
.cause-box a h4 { color: #141414 !important; }
.cause-box a{
    position: relative;
    overflow: hidden;
    }
.cause-box a h4{
    color: #FFFDFD !important;
    position: absolute;
    width: 100%;
    height:30px;
    border-top:0;
    line-height: 30px;
    background-color: rgba(0,0,0,0.6);
    display: block; 
    bottom: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cause-box:hover a{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cause-box:hover a h4{
    background-color: rgba(0,0,0,0);
    border:0;
}
.nature .mobile-block > h4 {
  line-height: 30px;
}

#cpn-donate-now .donate-btns{
    margin-top: 15px;
}

.row-fluid.m-bot20 .action-link,
.box-r-footer a,
#dtn-user-large-cta .action-link, 
.link-box .action-link{color:#17a4e1 !important;}
.row-fluid.m-bot20 .action-link:hover,
.box-r-footer a:hover,
#dtn-user-large-cta .action-link:hover, 
.link-box .action-link:hover{color:#2174b5 !important;}

.row-fluid.m-bot20 .small,
#dtn-add-logo p{color:#333;}

/* NPO lIsting */
.main-content, .modal-content { margin-top: 70px; }
.listings-wrapper .cpn-sgtn-item { min-height:auto; }
.checkbox-clone.checked:before { color:#4cb848 !important; content: "\f00c" !important; }

#causes-wrapper:after, .navbar-inverse:after  { content:""; clear:both; display:block;  }
.title-search .span6 > .mobile-block > span.text.small, .upload-section label.small { color:#000; }

/* Search Page & Search UI */
#search-form label.control-label{
    color: #333 !important;
}
#search-form input#search_term{
    border-color: #999;
    color: #333 !important;
    height: auto !important;
}
#search-form input#search_term::-webkit-input-placeholder , #uf-dockbar-search-mobile input[type="text"]::-webkit-input-placeholder{color: #ccc !important;} /* WebKit, Blink, Edge */
#search-form input#search_term:-moz-placeholder, #uf-dockbar-search-mobile input[type="text"]:-moz-placeholder{color: #ccc !important;} /* Mozilla Firefox 4 to 18 */
#search-form input#search_term::-mox-placeholder, #uf-dockbar-search-mobile input[type="text"]::-mox-placeholder{color: #ccc !important;} /* Mozilla Firefox 19+ */
#search-form input#search_term:-ms-input-placeholder, #uf-dockbar-search-mobile input[type="text"]:-ms-input-placeholder{color: #ccc !important;} /* Internet Explorer 10-11 */
#uf-dockbar-search-mobile input[type="text"],#uf-dockbar-search-mobile input[type="text"]:focus{
    border-width:0 0 1px 0;
    border-style: solid;
    color: #333 !important;
    height: auto !important;
    border-radius: 0;
    box-shadow: none;
}

/* Checkboxes */
#select-more-camp input[type=checkbox]:checked + label:before,
.refine-inputs input[type=checkbox]:checked + label:before,
#select-more-causes input[type=checkbox]:checked + label:before,
#data-list-filters input[type=checkbox]:checked + label:before,
.refine-inputs .checkbox-clone.checked:before,
.checkbox-clone.checked:before{
    color: #4cb848 !important;

  }

#select-more-camp input[type=checkbox]:checked + label,
.refine-inputs input[type=checkbox]:checked + label,
#select-more-causes input[type=checkbox]:checked + label,
#data-list-filters input[type=checkbox]:checked + label,
.checkbox-clone.checked { background:#f7f7f7; color:#333; } 


#select-more-camp input[type=checkbox] + label:hover {}
/* Single Campaign Listing*/
#cpn-info div.img-box a i{
    padding: 4px 8px;
}
/******************************************/
/*  START OF OTHER PAGES HEADER */
/*****************************************/

.navbar .nav-pills{
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}
.navbar .nav-pills li{
    display: inline-block;
    height: 38px;
    padding: 1em;
}

/******************************************/
/*  END OF OTHER PAGES HEADER */
/*****************************************/

/******************************************/
/*  START OF FOOTER*/
/*****************************************/
.pre-footer-social{
    background-color: #333333; margin: 0 auto !important;
    border-top-color: #353535 !important;
    border-bottom-color: #424242 !important;
}
.pre-footer-social .f-block .social-share .span1{padding: 11.5px 7px;width: 48px !important;height: 48px !important;}
.pre-footer-social .f-block .social-share .span1 i:before{position: relative;}
.f-block .social-share .fa{margin-right: 0;}
.pre-footer h4 { font-weight: normal; font-size: 1.3125em;}
.pre-footer h4 a, .pre-footer h4 a:link, .pre-footer h4 a:visited{color: #ffffff !important;text-transform: uppercase;}
.footer-links li a,.footer-links li a:link{ text-decoration: none; color: #FFF;}
    .footer-links li a:hover{ text-decoration: underline; }
    .footer-links li a:visited  { color:#AAA; }
.footer a, .footer a:link{text-decoration: underline;color: #fff !important;}
.footer a:hover{text-decoration: none;}

.footer{background-color: #333333;padding: .35em 0;}
.footer-ul span{color: #ffffff;}

.pre-footer-social label{color: #ffffff;text-transform: uppercase;}
.acc-toggle:before{color:#333;}
.acc-toggle.collapsed:before{color:#666;}

/*************************************************************/
            /* SELECTS AND DROPDOWNS */
/*************************************************************/



/******************************************/
/*  START OF CARD UI */
/*****************************************/

.cpn-sgtn-item .sgtn-img{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    overflow: hidden;
}
.cpn-sgtn-item .sgtn-body h5 a{
    color: #141414;
}
.cpn-sgtn-item .sgtn-body h5 a:visited{
    /* color: #7a7a7a; */
}

.campaign-stats h4 { font-size:1.75em; color:#141414; }
.more-days.inline h4 { font-size:1.125em; color:#141414; }
.more-days.inline span.em{color: #141414 !important;}
.cpn-sgtn-item .campaign-stats .progress { 
    border: 1px solid #FFF;
    background-color:#CCC;  
    height:5px; 
    margin-bottom:7px; 
}
.campaign-stats .progress .bar {
    border-radius:0px; 
    background:#17A4E1; 
    text-shadow: none; 
    box-shadow: none;
}

.cpn-sgtn-item .sgtn-body .sgt-avatar {
    width: 40px;
    height: 40px; 
    border: 2px solid #FFF;
    margin-top:-47px;
}
.cpn-sgtn-item.corp-blue .sgtn-body .campaign-stats button{
    box-shadow: none;
}
.cpn-sgtn-item.corp-blue:hover .sgtn-body .campaign-stats button{
    background-color: #1283B4;
}
.cpn-sgtn-item:hover .campaign-stats h4{
    color:#0D6287;
}
.cpn-sgtn-item .cpn-featured-status, .cpn-featured-status { top: 17px; left: -42px;}
.sgtn-body h5 { 
    font-size:1.125em;min-height: 3.45em; max-height: 3.45em;margin: 0 auto 10px; overflow: hidden; font-weight:500;
}
    .swiper-container-3 .sgtn-body h5 { min-height: auto; }
.volunteer-activity .cpn-sgtn-item h4 { font-size:1.5em; }
.volunteer-activity .cpn-sgtn-item .block { font-size:1em; color:#999;}

.cpn-sgtn-item .causes.multiple ul li{ display: none; }
.more-days span.em{font-weight: 400 !important;}

/* Hover state of card */
.cpn-sgtn-item:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); 
    border-bottom-color:transparent; background:#17a4e1;
}
.cpn-suggestions .load-all-box:hover, .cpn-suggestions .add-cpn-btn:hover { background:none; box-shadow:none;  }
.cpn-sgtn-item:hover .sgtn-body, .cpn-sgtn-item:hover .box-r-footer{
    background-color: #17a4e1;
    border-bottom-color: #117ca9;
}
.cpn-sgtn-item:hover .box-r-footer{
    border-top-color: #117ca9;
}
.cpn-sgtn-item:hover .sgtn-body h5 a, .cpn-sgtn-item:hover .sgtn-body h5,.cpn-sgtn-item:hover p ,.cpn-sgtn-item:hover .sgtn-body h5 a:visited, .cpn-sgtn-item:hover .txt-npo{
    color: #ffffff;
}
.cpn-sgtn-item:hover .campaign-stats .progress{
    border:1px solid #17a4e1;
    background-color: #0c5372;
}
.cpn-sgtn-item:hover .campaign-stats .progress .bar {
    background-color: #49bbec;
}
.cpn-sgtn-item:hover .campaign-stats .btn{
    background-color: #117ca9 !important;
    color: #ffffff;
}
.cpn-sgtn-item:hover .more-days.inline h4 { color:#FFF; }

.cpn-sgtn-item:hover .campaign-stats h4, .volunteer-activity .cpn-sgtn-item:hover h4, .volunteer-activity .cpn-sgtn-item:hover .block, .cpn-sgtn-item:hover .campaign-stats span.em, .cpn-sgtn-item:hover .more-days.inline h4, .cpn-sgtn-item:hover .more-days.inline span.em{color: #0c5372;}

/* Expired Card */
.cpn-sgtn-item.expired .sgtn-body, .cpn-sgtn-item.expired .box-r-footer, .cpn-sgtn-item.expired:hover .sgtn-body, .cpn-sgtn-item.expired:hover .box-r-footer{
    background-color: #f7f7f7;
    border-bottom-color: #CCC;
}
.cpn-sgtn-item.expired .more-days.inline h4, .cpn-sgtn-item.expired .more-days.inline span{
    color: #a8a8a8 !important;
}
.cpn-sgtn-item.expired:hover .sgtn-img{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    overflow: hidden;
}
.cpn-sgtn-item.expired:hover .campaign-stats .progress{
    border:1px solid #f7f7f7;
    background-color: #0c5372;
}
.cpn-sgtn-item.expired:hover .sgtn-body h5 a{
    color: #141414;
}
.cpn-sgtn-item.expired:hover .sgtn-body h5 a:visited{
    color: #424242;
}
.cpn-sgtn-item.expired:hover .txt-npo{
    color: #666;
}
/******************************************/
/*  END OF CARD UI */
/*****************************************/

/*****************************************/
/*  BUTTON STYLES START */
/****************************************/
.btn-group.select-like.actions-group > .btn.dropdown-toggle {font-size: 13px !important;}
.dropdown-menu > li > a{font-size:14px;}

button.close{font-size: 20px !important;}

.btn-ghost, .aui .btn-ghost, .donate-trig.btn-default, .open-more, #copy-url, .open-more:hover{
    background-color: #B3E7FF; color: #2174B5;
}
.dropdown > button, .dropdown > button:hover,Â  .select-like button,.select-like button:hover, .action-btn > button{
    box-shadow: none !important;
}

.steps-content .btn-area input, .steps-content .btn-save input, .add-btn-lst a{
    background-color: #B3E7FF !important;color: #2174B5 !important;
}
.inform-area .box-btn .btn{
    background-color: #B3E7FF;
    color: #2174B5 !important;
}
.add-bottom-lst li input[type=submit], .btn-area input[type=submit], .btn-save input[type=submit]{
    line-height: 1 !important;
}

/* Hover states */
.btn:hover, .btn:active, .btn:focus,
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, 
.btn-success:hover, .btn-success:active, .btn-success:focus,
.aui .btn-primary:hover, .aui .btn-primary:active, .aui .btn-primary:focus,  
.aui .btn-success:hover, .aui .btn-success:active,.aui .btn-success:focus, 
#LoginForm .btn:hover {
    background-color:#0E678E ;color:#FFF;
}

.btn-ghost:hover, .btn-ghost:active, .btn-ghost:focus,
.aui .btn-ghost:hover, .aui .btn-ghost:active, .aui .btn-ghost:focus,
.open-more:hover, .open-more:active, .open-more:focus, 
.btn-more-img:hover, .btn-more-img:active, .btn-more-img:focus, 
.donate-trig.btn-default:hover, .donate-trig.btn-default:active, .donate-trig.btn-default:focus, 
#copy-url:hover { 
    background-color:#B3E7FF; color:#2174B5; border:none; 
}

.btn-toggle .btn.active:hover, #btnDonate:hover, 
#btnDonate:active, #btnDonate:focus, #login_button:hover, #LoginForm .btn:active,
#login_button:focus,  .btn-primary:active, .btn-primary:focus,
.btn-success:active, .btn-success:focus, .add-bottom-lst input:hover, 
 .add-bottom-lst input:active, .add-bottom-lst input:focus{
   background-color: #0E678E !important;
}
.btn:disabled, .aui .btn:disabled { background-color: #999 !important; cursor: not-allowed; }

/*****************************************/
/*  BUTTON STYLES END */
/****************************************/

/******************************************/
/*  START OF SIDEBAR */
/*****************************************/
#uf-dockbar-sidebar ul{margin:0;}

#uf-dockbar-sidebar ul li > a, #sidebar ul li > a {
    text-decoration: none; color: #333;
}
#uf-dockbar-sidebar ul li > a:visited, #sidebar ul li > a:visited { color: #333; }

#uf-dockbar-sidebar ul li:first-child, #sidebar ul li:first-child{
    padding-bottom:10px !important;
}
#sidebar ul li > a{
    padding: 13px 15px 13px 30px;
}
#uf-dockbar-sidebar ul li > a{padding: 13px 12px 13px 40px;}
#uf-dockbar-sidebar li.admin > a, #uf-dockbar-sidebar ul li > a.active, #sidebar ul li > a.active{
    background-color: #f0f0f0; 
    box-shadow: 6px 0 0 0 #4cb848 inset;
    border:0;
}
#uf-dockbar-sidebar .profile-nav img{
    width: 240px;
    height: 135px;
}

/* Hover styles */
#uf-dockbar-sidebar ul li > a:hover, #sidebar ul li > a:hover{
    box-shadow: 6px 0 0 0 #4cb848 inset;
}
/******************************************/
/*  END OF SIDEBAR */
/*****************************************/


#setup-dtn-carousel .carousel-control, .carousel-control{
    background-color: transparent;
}
#setup-dtn-carousel .carousel-control span:hover, .carousel-control span:hover{
    color: #17A4E1;
}

/* TABLET (LARGE) */
@media only screen and (max-width: 980px) {
    h1 { font-size:2.5em; line-height:1.125em; }   /* 40px */
    #logo a { padding:0 .5em; }

    /* HOMEPAGE CAROUSEL */
    .gallery-txt-box h3  { font-size:1.25em; }
    .home-slider .cpn-slider-inner.swiper-wrapper { height:300px; }
    /* CARDS UI  */
    .cpn-sgtn-item .sgtn-img{height: auto;}
}

/* TABLET (SMALL) */
@media only screen and (max-width: 767px) {
    .pre-footer .acc-toggle {
      color: #fff;
      background-color: #242424;
      border-color:#424242;
      border-width:1px 0 0;
    }
    .pre-footer .p-section{
        background-color: #333333;
    }
    .social-share a i {
      line-height: 1.4 !important;
    }
    .inform-add-lst li{
        width: auto !important; 
    }
}
@media only screen and (max-width: 768px) {
    h1 { font-size:2em; line-height:1.25em; }               /* 32px */
    h2 { font-size:1.625em; line-height: 1.15384615em; }    /* 26px */
    h3 { font-size:1.375rem; line-height: 1.13636364em; }   /* 22px */
    h4, h5, h6 { line-height:1.11111111em; }
    p { line-height: 1.25em; } 

    /* NAVIGATION */
    #logo { position: relative; }
    #logo a, .navbar-inverse .brand { 
        overflow: hidden; display:block; margin: 0 auto; max-height: 40px; max-width: 200px; }
        #logo a img, .navbar-inverse .brand img  {width: 160px;}
    .navbar-inverse .navbar-inner, #uf-dockbar-right-menu ul { height:50px; }

    .navbar-inverse .brand { padding:0; float: none; }

    #main-nav ul a{ border-bottom:0px; font-weight: normal; }
    #main-nav ul a.current, #main-nav ul a:hover { box-shadow: 6px 0px #4cb848 inset; }
    .main-content-inner { margin-top:50px; }

    /* HOMEPAGE CAROUSEL */
    #nav li br, .home-slider .slider-navigation {display:none;}
    .home-slider .cpn-slider-inner.swiper-wrapper { max-height:300px; }
    .home-slider .swiper-slide .gallery-txt-box {
        width:95%; bottom: 0; left: 0; right: 0; height: 3em;
        border-radius:0; padding:1em 2.5%;
    }
    .gallery-txt-box h3 { float: left; width:65%;  }
    .gallery-txt-box .btn { margin-left:2%; max-width:25%; }
}

@media only screen and (max-width: 599px) {
    .home-slider .cpn-slider-inner.swiper-wrapper { height:auto; padding-bottom: 3em;}
    .home-slider .swiper-slide .gallery-txt-box { 
        padding:.75em 5%;width: 91%; text-align:center; height:2.4em; bottom: -3em;}
    .gallery-txt-box h3 { font-size:1em; width:auto; float:none;/* clear: both; */}
    .gallery-txt-box .btn { display:none; }
}

/* PHONE */
@media only screen and (max-width:480px) {
    p { font-size:.875em; } /* 14px */
}
@media only screen and (max-width: 320px){
    #donationAmt div.modal-body {
      max-width: 280px;
      padding: 15px;
    }
     /* HOMEPAGE CAROUSEL */
    .home-slider .swiper-slide picture img{
      min-height: inherit;
      height: auto;
      width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    .navbar-inverse .navbar-inner { height: 70px; }
    .navbar-inverse .brand{
        font-size: 1.25em; font-weight: 500; padding: 0; position: absolute;
        left: 1.1em; top: 0; margin-left: 0; color: #4cb848 !important; text-decoration:none;
        max-width: 180px; display: inline-block; text-transform: uppercase;
    }
    #main-nav-header { height: 70px; } 
    #main-nav {/* reset main nav style */
        left: 190px; right:auto;background: transparent;
        box-shadow: none;z-index: 1030; font-size: 1.125em;
    }
     #main-nav ul a { padding:1.45em .7em; }
         #main-nav ul a:hover, #main-nav ul a.current {  box-shadow: 0 -6px 0 0 #4cb848 inset; }

    #uf-dockbar-hamburger-menu { display: none; }

    .section-page { margin-top: 70px; }

}

@media only screen and (min-width:981px) {
    #main-nav { left:200px;  }
    #main-nav ul a { padding: 1.45em 1.3em; }

}

/*************************************************************/
            /*NON THEMING CSS TO CORRECT LAYOUT ERRORS*/
/*************************************************************/

.data-list li .action-btn button, .dropdown-select button{
    border:1px solid #ccc !important;
}

.dropdown-menu a{text-decoration: none;}

.select-like > button { border-bottom:1px solid #999 !important;}
.progress-dots ul li:first-child{margin-left: 0;}

.landing-cpn-slider-wrapper .swiper-pagination{border:none;}
.landing-cpn-slider-wrapper .swiper-button-next, .landing-cpn-slider-wrapper .swiper-button-prev{margin-top:-22px;}
.dtn-amt-item .dtn-amt  h3 { vertical-align: middle; display:block; margin: 1.368rem 0 1.168rem 0; }
button.btn.btn-ghost.delete-row {
  margin-right: -10px;
}

  

@media (max-width: 1023px) and (min-width: 980px){
    .donors-area .dr-img {
      margin-left: 3.3%;
      margin-right: 3.3%;
    }
}

@media (max-width: 760px){
    .gallery-txt-box{
        right: 0;
        bottom: 0;
        width: calc(100% - 48px);
        border-radius: 0;
    }
}

/*************************************************************/
            /* PERMANENT ADDITIONS */
/*************************************************************/
.tax-status-i{
    width: 36px;
    height: auto;
}


/*************************************************************/
            /* TEMPORARY EDITS */
/*************************************************************/
#donate-now{
    display: none;
}
#cause-image-preview{
    display: none;
}
.donate-btns{
    padding: 0px 1.8em;
}
#cpn-info .evn-details, #cpn-info .box.causes{
    display: none;
}
#cpn-donate-now > .box > h4{display: none;}
.cn-ln-details{display: none;}
