/* general settings */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block;}
html, body { }
body { font:16px/1.25 "Open Sans",Arial, Helvetica, sans-serif; margin:0 auto;  }

/* Typography */
h1, h2, h3, h4, h5 { font-family: "Lato", Arial, sans-serif; color:#000; font-weight:900;  }
h2 { font-size:2.25em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
p, textarea, input { line-height:1.4; word-wrap: break-word; }
a { text-decoration:underline; }

textarea, input { font-size:1.325em !important; height:1.3em; }
    input:not([type=checkbox]) { font-family: "Shadows Into Light Two", Arial, sans-serif; height:1.3em; }
    /* Patrick Hand|Short Stack|Neucha|Dekko|Schoolbell|Gloria Hallelujah|Architects Daughter*/

label { font-family: "Lato", Arial, sans-serif; font-size: 1.125em; line-height:1.4; }

/* GLOBAL STYLES */
.small { font-size:.875em; margin-top:5px; }
.text-uppercase { text-transform:uppercase; }
.underlined { text-decoration: underline;margin-top: 10px; }
.border-left{border-left: 1px solid #efefef;}
div.centered{margin-left: auto !important;margin-right: auto !important;float: none !important;}
.m-left0{margin-left: 0 !important;}
.m-bot30{margin-bottom: 30px;}
.m-bot15{margin-bottom: 15px;}
.m-bot0{margin-bottom: 0px;}
.m-top20{margin-top: 20px;}
.m-0{margin: 0 !important;}

/* CONTENT LAYOUT */
.wrapper { width:100%; }
.navbar { background: #efefef; }
.main-content, .modal-content { margin-top:40px; padding:0.5em 0 0; }
.boxed-wrapper { max-width:800px;margin:0 auto;margin-top: 46px;padding-top: 30px; }


/* UI Controls - BUTTONS */
.control-group { margin-top:3em; position:relative; }
.bootstrap-switch{box-shadow: none !important;border-color: #BBBBBB;}

/* MODAL */
.modal, .modal-content, .modal-body { margin:0 auto; overflow-y:initial; }
.modal-body, .modal-backdrop  { max-height:100%; }
    
.modal { position:absolute; margin-bottom:2em; right:0; left:0; max-width:858px; width:100%; }
.modal.fade { display:none; }
.modal.fade.in { display:block; }

.modal-header { border-bottom: none; }
.modal-body { max-width:800px; }
.modal-footer { background:#d8d8d8; text-align:center; padding: 10px 5px; }

/* MODAL - Typography */
.modal h2, .main-content h2, .main-content h3 { margin-bottom:0; line-height:1.1; }
    .modal-header h3, .modal-body h3 { margin-bottom:.5em; }

/* MODAL - UI Controls - BUTTONS */
.modal input:not([type="checkbox"]), .main-content input:not([type="checkbox"]), #setup-donation-content input:not([type="checkbox"]) { 
    width: 96%; padding:4px 0px; line-height:1.4; border-width: 0 0 2px; box-shadow:none; border-radius: 0;
}
.modal .validation-feedback , #respwdForm .validation-feedback {
    position: absolute; display: none; background: transparent; 
    height: 15px; margin-top:7px; right:15px;
}
.modal .forgot-pwd { display: block; }
    .forgot-pwd a.txt-forgot { position: absolute; right:0; font-size:.9em; }

/* UI Controls - BUTTONS */
.btn { font-family: "Lato", Arial, sans-serif;   }
    .btn-large { font-weight:900; }
    .btn-large-custom { width:180px;height: 40px; }
    .btn.custom{max-width: 180px;margin-left: auto;margin-right: auto;height: 40px;}

.error-feedback { display:none; }
.validation-feedback i { font-size: 1.2em; top:-18px; }
.close i, .close{color: #333; opacity: 1;}

.control-group.error .validation-feedback i { color: #FC353A; }
.control-group.success .validation-feedback i { color: #468847; }

/* UI Controls - BUTTONS (Button Group / Toggle)  */
.btn-toggle { margin-bottom:40px; width:100%; }
.btn-toggle .btn { padding:5px; width:33%; height:5em; background:#EEE; line-height:1.3; }
    .btn-toggle .btn.active{ background:#fff; border-bottom-color:#DDD; box-shadow: none; }

    .btn-toggle .btn i { margin-right:10px; font-size:36px; color:#DDD; }
    .btn-toggle .btn span{
        display: inline-block; white-space: normal; text-transform: capitalize;
        margin-right:0; width:100px; text-align: left;
    }

/* MODAL - ONE COLUMN */
.modal-one-column, .modal-one-column input:not([type=checkbox]) { text-align:center; }
.modal-one-column { max-width:600px !important; } 
.modal-one-column .modal-body, .one-column .span4 { max-width:400px; width:100%; margin:0 auto; float: none; }
    .one-column .span4 { margin-top:40px; }
.modal-one-column .radio input[type="radio"], 
    .modal-one-column .checkbox input[type="checkbox"] { float:none; margin-top: 0; }

/* MODAL - TWO COLUMN */
.modal .row-fluid .span6 { padding:1em .5em 1em 2em; } 
    .modal .row-fluid .span6:first-child { padding:1em 1.5em; } 

/* Social Media */ 
.modal .social-media-signup a {
    padding:13px; margin:20px auto 0; clear:both; 
    color:#fff; border-radius:2px; text-align: center;
}
.modal .social-media-signup a:focus, .modal .social-media-signup a:hover {
    text-decoration: none; opacity: 0.8;
}
.modal .social-media-signup a i { margin-right: 10px; font-size: 1.2em; }
    .modal .social-media-signup a.facebook { background-color: #334479; }
    .modal .social-media-signup a.linkedin { background-color: #1379C3; }

.or-separator{
    position: absolute; top: 15em; right:calc(50% - 34px); background:#d8d8d8; 
    padding:12px; border:1px solid #a1a1a1; border-radius: 50%; font-size: 0.875em;
}

/* Sign Up As Individual Page */
.signup-section { margin-bottom:30px; }
    .modal-header .signup-section { margin-bottom:0; }
.sign-up-form { border-left:1px solid #e3e3e3; } 

i.signup-envelope { font-size:5.625em; }
a.resendmail { text-decoration:underline; font-size:.875em; }
.signup-section .alert { padding:1em 1.5em; }
.signupnpo .alert { min-height:320px; }

/* NPO signup Progress Indicators */
.progress-dots { margin: 30px 0; }

.progress-dots ul { margin: 0 auto; width:80%; padding-left:5%;}
.progress-dots ul li { width:27%; display: inline-block; margin-right:5px; }

.progress-dots ul li span { float:left; }
.progress-dots ul li .step-dot{
    text-align: center; width:24px; height:24px; border-radius: 50%;
    background:#bbb; color:#fff; font-size:0.75em;line-height: 2em;
}
    .progress-dots ul li .step-dot.active { background-color: #54a954; }
.progress-dots ul li .step-label{
    margin-right: 0; margin-left:6px; width: 60%;
    line-height: 1em; font-size: 0.7em; text-align: left;
}

.signupnpo .title { color:#3a87ad;text-transform: uppercase; }
.upload-section { padding: 10px 0; }
.upload-section .control-group{margin-top: 0.5em;}
.upload-section .input-append{margin-left:0px;width: 240px;background-color: #ffffff;color: #333;font-size: 0.8em;line-height:2.3em;text-align: left;padding-left:8px;}

.upload-section  .btn {border-width: 0 0 1px;color: #0088cc;}.npo-header p{width: 300px;margin:0 auto 20px;}
.start-cta,.span12.start-cta{padding:20px 30px;background-color: #fffaed;margin-left: 0;border:1px solid #fae0a8;border-radius: 4px;transition:all 0.5s ease-in-out;}

.modal-tiles{width: auto;display: inline-block;padding: 30px 120px 30px;}
.tile{width:90px;height: 90px;display: block;background-color: #ffffff;float: left;margin-right:12px;border:1px solid #e3e3e3;padding: 3px;}
.tile-inner{background-color: #e3e3e3;padding:30px 0;line-height:1em;text-align: center;}
.tile-inner p{text-transform: uppercase;font-size: 0.70em;width: auto;margin: 0 auto;}

/* NPO step3 modal carousel */
#npoItem2 p{margin-top:20px;}
p.block{max-width: 300px;padding: 8px;background-color: #ffffff;margin: 0 auto;text-align: center;border:1px solid #fae0a8;}
.carousel-indicators{top:inherit;right: inherit;bottom: -30px;left:47%;}
.carousel-indicators li{background-color: transparent;border: 1px solid #5bb75b;}
.carousel-indicators li.active{background-color: #5bb75b;}
.carousel .item button{margin-top: 20px;}

/* Make Donation page*/
.section-page{
    text-align: center;
}
#btnDonate{
    position: absolute;top: 50%;
}
#spca { font:900 2em/1em "Lato", Arial, sans-serif; font-size:3em !important; color:#000; text-align:center; background:#FFF; }
#donateForm .form-group{
    margin-bottom: 30px;
}
#donateModal label.error.help-block{font-size: 0.9em;}
#donateModal .small a{font-size: 0.9em;}
.black{color: #000;}

/* giving custom selects */
#selAmount.sod_select{border-radius: 0;}
#selAmount.sod_select:before{display: none;}

/* Donation Logged In Page */
#donateLoggedModal{background-color: #efefef;}
#donateLoggedModal .modal-footer{padding: 15px 5px;background: #F5EAB1;}
.user-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e3e3e3;
    margin: 0 auto;
    border:1px solid #a9a9a9;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}
.user-img img{max-height:100%;max-width: 100%; }

.box{background-color: #ffffff;border:1px solid #e3e3e3;margin-top: 20px;margin-bottom: 0px;padding: 1em 2em 0.6em !important;}
.summary-wrapper{max-width: 500px;min-height:40px;left:0;right: 0;padding: 0 15px;border:1px solid #cccccc;border-radius: 4px;}
.summary-wrapper .pull-left{width: auto;}
.summary-wrapper .headings{border-bottom: 1px solid #cccccc;margin-bottom: 8px;margin-top: 10px;height: 20px;}
.summary-wrapper .headings span{font-size: 0.75em;}
.summary-wrapper .headings .pull-left{width: auto;}
.box:first-child {margin-top:4px;margin-left: 0 }
.minimal{font-weight: 400;}
.minimal i{margin-right: 10px;font-size: 2em;position: absolute;margin-left:-34px;margin-top: -5px;}
.org-name{width: 80%;}
.co-desc{font-size: 12px;margin-top: 0;margin-bottom:20px;font-weight: 600;}
.tax-status{color: #59B259!important;font-size: 12px;display:block;margin-bottom: 15px;}
.tax-status i{margin-right: 6px;}
.tax-status i.pull-right{font-size: 1.6em;color: #adadad;cursor: pointer;}
.box .small.grey{color: #a5a5a5;}
.smaller{font-size: 12px;}
.smaller.dark{font-weight: 800;}
.box > h4{margin-bottom: 20px;}
.box.span6{padding: 1em 2em 4.6em !important;}
.box-footer{border-top:1px solid #e3e3e3;margin-top:30px;}
.box-footer h5{margin: 15px 0;font-size: 0.875em;}
.box-footer p{font-size: 0.8em;}
.choice-buttons{margin-top: 30px;}
.choice-buttons button{width: 35%;padding: 7px;}
.choice-buttons button.active{outline: none;border:none;color: #ffffff;box-shadow: none;}
.choice-buttons button.yes.active{background-color: #51a351;}
.choice-buttons button.no.active{background-color: #bd362f;}
.btn-ghost{background: #ffffff;color: #000;font-weight:700;font-size:0.75em;box-shadow: none;border-width:2px;border-radius:6px;border-color: #e3e3e3;}
.amount-pledged{width: 40px;margin-top: 4px;}
.amount-pledged span{float: left;}
.amt-value{font-size: 24px;}
.more-donations{margin-top: 20px;padding-top: 15px;padding-bottom: 15px;margin-bottom: 15px;text-transform: lowercase;font-weight: 400;}
.more-donations i{margin-right: 6px;color: #333;font-size: 1.25em;position: absolute;margin-left: -20px;margin-top: 2px;}

/* Widgets*/
.widget{display: none;opacity:0.5;margin-top: 100px;transition:all 2s ease-in-out;overflow: hidden;}
.widget.active{display: block;opacity:1;margin-top: 0px;transition:all 2s ease-in-out;}
.widget form input{  margin-bottom: 0;height: 1em;font-size: 1em !important;}
.widget form .control-group{margin-top:15px;}
.widget form label{margin-bottom:8px;}
.widget .box-footer{border-top: none;}

/* Logged In Modal user form */
#userDetails{}
#userDetails .validation-feedback {margin-top: 0;}
#userDetails .validation-feedback i{font-size: 1em;color: #999999;}


/* Donation Confirmed Logged In Individual */
.summary-wrapper.email-ack{margin-top: 20px;padding: 10px 60px 25px;}
.share-box{margin-top: 20px;padding-top: 15px;padding-bottom: 15px;}
.share-box a{margin-right: 10px;margin-left:10px;line-height: 1;}
.share-box a i{font-size: 2.5em;margin-top: 5px;}
.share-box a.facebook{color: #46629E;}
.share-box a.twitter{color: #55acee}
.share-box a.gplus{color:#DC4A3D; }
.share-box a.shareit{color:#BBBBBB; }

/* Gift Box */
.gift-box{font-size: 8em !important;}
.gift-box span.badge{position: absolute;top: 20%;right: -20%;padding: 12px;width: 15px;}

/* set up donation */
#setup-donation-content > .box.span12 {margin-bottom: 40px;}
#tax-deduc{-webkit-box-shadow: -1px 5px 17px -3px rgba(153,151,153,1);
            -moz-box-shadow: -1px 5px 17px -3px rgba(153,151,153,1);
            box-shadow: -1px 5px 17px -3px rgba(153,151,153,1);
            padding-bottom: 0 !important;}
#tax-deduc,.box.reset{margin:0;padding-left: 0 !important;padding-right: 0 !important;}
#tax-deduc .span6{padding-bottom: 15px;}
#tax-deduc .span6:last-child{border-left: 1px solid #e3e3e3;}
.bordered-t{
    border-top: 1px solid #e3e3e3;
}

/* Causes selection */
#causes-wrapper{max-width: 90%;margin-right: auto;margin-left: auto;margin-top: 40px;}
#causes-wrapper > .span12{margin-left: 0;}
.cause-box.span4 {margin-bottom: 50px;}
.cause-box input[type=checkbox] {
  display: none;
}
.cause-box input[type=checkbox] + label {
  background: #f9f9f9;
  height: 100px;
  width: auto;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  transition: all 0.4s;
  border: solid 1px #efefef;
  box-shadow: 0 0 1px #FFF; /* Soften the jagged edge */
}

.cause-box input[type=checkbox] + label:before{
    content: "Adults";
    display: block;
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 2em;
    bottom: -41px;
    border: 1px solid #efefef;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    left: -1px;
}
.cause-box input[type=checkbox]:checked + label:after{
    content: "\f058";
    font-family: "FontAwesome";
    display: block;
    color: #0DB00D;
    background: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right:10px;
}
#save-actions{border:none;}
#donation-userDetails{padding: 20px;margin-top: 40px;
    -webkit-box-shadow: -1px 5px 17px -3px rgba(153,151,153,1);
    -moz-box-shadow: -1px 5px 17px -3px rgba(153,151,153,1);
    box-shadow: -1px 5px 17px -3px rgba(153,151,153,1);}
#donation-userDetails .control-group{margin-top: 1em;}
#donation-userDetails input{margin-bottom: 15px;height: 1em;font-size: 1em !important;}

#save-status{margin-left: 30px;font-size: 0.8em;color: #7c7c7c;margin-top: 0.75em;}


/* Clear Fix */
body:after, .wrapper:after, .social-media-signup:after { content:""; clear:both; display:block; }

@media (min-width: 1200px) {
    .modal { max-width:1000px; }
    .start-cta, .span12.start-cta{height: 377px;}
}

@media (min-width: 768px) and (max-width: 979px) { 
    .start-cta, .span12.start-cta{height: 377px;}
}

@media (max-width: 979px) {
    /* CONTENT LAYOUT */
    .row-fluid .span6, .row-fluid .span4  { width:100%; margin:0; padding:0; }
    .modal { max-width:598px; }
    .modal-body { max-width:280px; }
    .boxed-wrapper { max-width:280px; }
    .sign-up-form { margin-top:50px; border-left:none; }

    .carousel-indicators{left:41%;}
    .box{margin-bottom: 20px;}

    /* UI Controls - FORM ELEMENTS  */
    form { text-align: center; }
    input:not([type=checkbox]) { text-align:center; }
    .radio input[type="radio"], .checkbox input[type="checkbox"] { float:none; margin-top:0; }

    .btn-toggle .btn { height: auto; }
    .btn-toggle .btn span { width: 100%; float:left; text-align: center;font-size:0.7858em;}
    .btn-toggle .btn i { margin:0; }

    .mobile-separator { margin:4em -40px 1em; }
    .or-separator { position:relative; right:auto; left:calc(50% - 22px); top:5.2em; }

    .progress-dots ul{text-align: center;}
    .progress-dots ul li{width: auto;margin-right: 12px;}
    .step-label{display: none;}
    .start-cta, .span12.start-cta{padding: 20px 20px;}
    .modal-tiles{width: 100%;padding: 5px 0px 5px;}
    .tile{width:60px;height: 60px;margin-right: 5px;}
    .tile-inner{padding: 16px 0;}
    .tile-inner p{width: auto;font-size: 0.6em;}
    .npo-header p{width: auto;}
    .help-block { padding:0 1em; }
    .modal .row-fluid .span6, .modal .row-fluid .span6:first-child { margin-bottom:20px; padding: 1em .5em; }
    .upload-section .input-append{padding-left: 2px;}
    .carousel-control{display: none;}
    .border-left{border-left: none;}
    .summary-wrapper.email-ack {padding: 10px 15px 25px;}

    /*Donate Logged In*/
    .org-name{width: 80%;float: left !important;}
    .amt-value{float: right !important;width: auto !important;}

    #causes-wrapper{margin-top: 10px;}
    .cause-box.span4{margin-top: 15px;border-radius: 6px;border:2px solid #efefef;}
    .cause-box input[type=checkbox] + label:before {
      width: 220px;
      height: 40px;
      line-height: 2.3em;
      bottom: -42px;
      left: 42px;
      top: 0px;
      border: none;
    }
    .cause-box input[type=checkbox]:checked + label:after {
      top: 9px;
    }
    .cause-box input[type=checkbox] + label {height: 40px;background-size: contain;border-radius: 0;border-bottom-left-radius: 6px;border-top-left-radius: 6px;border:none;}
    #tax-deduc, .box.reset{padding-left: 5px !important;}
    #save-actions .btn{width: auto;}
    #save-status{width: 100%;margin-left: 0;margin-bottom: 20px;margin-top: 15px;}
}

@media (max-width: 767px) {
    .modal, .modal-one-column { max-width:294px !important; }
    .modal-body, .modal-one-column .modal-body { max-width:280px; }
    .boxed-wrapper { max-width:280px; }
    .start-cta, .span12.start-cta{height: 335px;}
    .signupnpo .alert { min-height:100%; }
}

@media (max-width:310px) {
    body { width:100%; max-width:300px; overflow: visible;}
}