/* general settings */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block;}
html, body { }
body { font:16px/1.25 "Open Sans",Arial, Helvetica, sans-serif; margin:0 auto;  }

/* Typography */
h1, h2, h3, h4, h5 { font-family: "Lato", Arial, sans-serif; color:#4a4a4a; font-weight:900;  }
h2 { font-size:2.25em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
p, textarea, input { line-height: 1.4; word-wrap: break-word; }
a { text-decoration:underline; }

textarea, input { font-size:1em !important; }
    input:not([type=checkbox]) { font-family: "Shadows Into Light Two", Arial, sans-serif; }
label { font-family: "Lato", Arial, sans-serif; font-size: 1.125em; line-height:1.4; }

.small { font-size:.875em; margin-top:5px; }
.text-uppercase { text-transform:uppercase; }
.underlined { text-decoration: underline;margin-top: 10px; }

/* CONTENT LAYOUT */
.wrapper { width:100%; }
.navbar { background: #efefef; }
.main-content, .modal-content { margin-top:40px; padding:0.5em 0 0; }

/* UI Controls - BUTTONS */
.control-group { margin-top:3em; position:relative; }

/* MODAL */
.modal, .modal-content, .modal-body { margin:0 auto; }
.modal-body, .modal-backdrop  { max-height:100%; }
    
.modal { position:absolute; margin-bottom:2em; right:0; left:0; max-width:858px; width:100%; }
.modal.fade { display:none; }
.modal.fade.in { display:block; }

.modal-header { border-bottom: none; }
.modal-body { max-width:800px; }
.modal-footer { background:#d8d8d8; text-align:center; padding: 10px 5px; }

/* MODAL - Typography */
.modal h2, .main-content h2, .main-content h3 { margin-bottom:0; line-height:1.1; }
    .modal-header h3 { margin-bottom:.5em; }
    .modal-body h3 { margin-bottom:1em; }

/* MODAL - UI Controls - BUTTONS */
.modal input:not([type="checkbox"]), .main-content input:not([type="checkbox"]) { 
    width: 96%; padding:4px 0px; line-height:1.4; border-width: 0 0 1px; box-shadow:none; border-radius: 0;
}
.modal .validation-feedback , #respwdForm .validation-feedback {
    position: absolute; display: none; background: transparent; 
    height: 15px; margin-top:7px; right:15px;
}
.modal .forgot-pwd { display: block; }
    .forgot-pwd a.txt-forgot { position: absolute; right:0; font-size:.9em; }

/* UI Controls - BUTTONS */
.btn { font-family: "Lato", Arial, sans-serif;   }
    .btn-large { font-weight:900; }
    .btn-large-custom { width:180px;height: 40px; }

.error-feedback { display:none; }
.validation-feedback i { font-size: 1.2em; top:-18px; }
.close i, .close{color: #333; opacity: 1;}

.control-group.error .validation-feedback i { color: #FC353A; }
.control-group.success .validation-feedback i { color: #468847; }

/* UI Controls - BUTTONS (Button Group / Toggle)  */
.btn-toggle { margin-bottom:40px; width:100%; }
.btn-toggle .btn { padding:5px; width:33%; height:5em; background:#EEE; line-height:1.3; }
    .btn-toggle .btn.active{ background:#fff; border-bottom-color:#DDD; box-shadow: none; }

    .btn-toggle .btn i { margin-right:10px; font-size:36px; color:#DDD; }
    .btn-toggle .btn span{
        display: inline-block; white-space: normal; text-transform: capitalize;
        margin-right:0; width:100px; text-align: left;
    }

/* MODAL - ONE COLUMN */
.modal-one-column, .modal-one-column input:not([type=checkbox]) { text-align:center; }
.modal-one-column { max-width:600px !important; } 
.modal-one-column .modal-body, .one-column .span4 { max-width:400px; width:100%; margin:0 auto; float: none; }
    .one-column .span4 { margin-top:40px; }
.modal-one-column .radio input[type="radio"], 
    .modal-one-column .checkbox input[type="checkbox"] { float:none; margin-top: 0; }

/* Sign Up Page */
.modal-header .signup-section { margin-bottom: 0; }
.sign-up-form { border-left:1px solid #e3e3e3; } 

.signup-section { margin-bottom:30px; }
i.signup-envelope { font-size:5.625em; }
a.resendmail { text-decoration:underline; font-size:.875em; }
.signup-section .alert { padding:1em 1.5em; }

/* Social Media */ 
.modal .row-fluid .span6 {padding: 0 5%; } 
.modal .social-media-signup a {
    padding:13px; margin:20px auto 0; clear:both; 
    color:#fff; border-radius:2px; text-align: center;
}
.modal .social-media-signup a:focus, .modal .social-media-signup a:hover {
    text-decoration: none; opacity: 0.8;
}
.modal .social-media-signup a i { margin-right: 10px; font-size: 1.2em; }
    .modal .social-media-signup a.facebook { background-color: #334479; }
    .modal .social-media-signup a.linkedin { background-color: #1379C3; }

.or-separator{
    position: absolute; top: 15em; right:calc(50% - 34px); background:#d8d8d8; 
    padding:12px; border:1px solid #a1a1a1; border-radius: 50%; font-size: 0.875em;
}

/* npo signup Progress Indicators */
.progress-dots { margin: 30px 0; }
.progress-dots ul { margin: 0 auto; width: 70%; padding-left: 7%;}
.progress-dots ul li {
    width: 25%; display: inline-block; margin-right: 5px;
}
.progress-dots ul li span { float:left; }
.progress-dots ul li .step-dot{
    text-align: center; width:24px; height:24px; border-radius: 50%;
    background:#bbb; color:#fff; font-size:0.75em;line-height: 2em;
}
    .progress-dots ul li .step-dot.active { background-color: #54a954; }
.progress-dots ul li .step-label{
    margin-right: 0; margin-left:6px; width: 60%;
    line-height: 1em; font-size: 0.7em;  text-align: left;
}

/* NPO signup modal */
.signupnpo .alert{
    padding: 8px 14px 8px 14px;
    height: 280px;
}
.signupnpo .title{color:#3a87ad;text-transform: uppercase;}
.upload-section{padding: 10px 0;}
.upload-section .control-group{margin-top: 0.5em;}
.upload-section .input-append{margin-left:0px;width: 240px;background-color: #ffffff;color: #333;font-size: 0.8em;line-height:2.3em;text-align: left;padding-left:8px;}
.upload-section  .btn {border-width: 0 0 1px;color: #0088cc;}.npo-header p{width: 300px;margin:0 auto 20px;}
.start-cta,.span12.start-cta{padding:20px 30px;background-color: #fffaed;margin-left: 0;border:1px solid #fae0a8;border-radius: 4px;transition:all 0.5s ease-in-out;}
.modal-tiles{width: auto;display: inline-block;padding: 30px 120px 30px;}
.tile{width:90px;height: 90px;display: block;background-color: #ffffff;float: left;margin-right:12px;border:1px solid #e3e3e3;padding: 3px;}
.tile-inner{background-color: #e3e3e3;padding:30px 0;line-height:1em;text-align: center;}
.tile-inner p{text-transform: uppercase;font-size: 0.70em;width: auto;margin: 0 auto;}

/* NPO step3 modal carousel */
#npoItem2 p{margin-top:20px;}
p.block{max-width: 300px;padding: 8px;background-color: #ffffff;margin: 0 auto;text-align: center;border:1px solid #fae0a8;}
.carousel-indicators{top:inherit;right: inherit;bottom: -30px;left:47%;}
.carousel-indicators li{background-color: transparent;border: 1px solid #5bb75b;}
.carousel-indicators li.active{background-color: #5bb75b;}
.carousel .item button{margin-top: 12px;}

/* Clear Fix */
body:after, .wrapper:after, .social-media-signup:after { content:""; clear:both; display:block; }

@media (min-width: 1200px) {
    .modal { max-width:1000px; }
    .start-cta, .span12.start-cta{height: 377px;}

}
@media (min-width: 768px) and (max-width: 979px) { 
    .start-cta, .span12.start-cta{height: 377px;}
}

@media (max-width: 979px) {
    /* CONTENT LAYOUT */
    .row-fluid .span6, .row-fluid .span4  { width:100%; margin:0; padding:0; }
    .modal { max-width:598px; }
    .modal-body { max-width:280px; }
    .sign-up-form { margin-top:50px; border-left:none; }
    .carousel-indicators{left:41%;}

    /* UI Controls - FORM ELEMENTS  */
    form { text-align: center; }
    input:not([type=checkbox]) { text-align:center; }
    .radio input[type="radio"], .checkbox input[type="checkbox"] { float:none; margin-top:0; }

    .btn-toggle .btn { height: auto; }
    .btn-toggle .btn span { width: 100%; float:left; text-align: center;font-size:0.7858em;}
    .btn-toggle .btn i { margin:0; }

    .mobile-separator { margin:5em 0; }
    .or-separator { position:relative; right:auto; left:calc(50% - 22px); top:6.2em; }

    .progress-dots ul{text-align: center;}
    .progress-dots ul li{width: auto;margin-right: 12px;}
    .step-label{display: none;}
    .start-cta, .span12.start-cta{padding: 20px 20px;}
    .modal-tiles{width: 100%;padding: 5px 0px 5px;}
    .tile{width:60px;height: 60px;margin-right: 5px;}
    .tile-inner{padding: 16px 0;}
    .tile-inner p{width: auto;font-size: 0.6em;}
    .npo-header p{width: auto;}
    .help-block { padding:0 1em; }
    .modal .row-fluid .span6{margin-bottom: 20px;}
    .upload-section .input-append{padding-left: 2px;}
    .carousel-control{display: none;}
}

@media (max-width: 767px) {
    .modal, .modal-one-column { max-width:294px !important; }
    .modal-body, .modal-one-column .modal-body { max-width:280px; }
    .start-cta, .span12.start-cta{height: 335px;}
}

@media (max-width:310px) {
    body { width:100%; max-width:300px; overflow: visible;}
}