/* general settings */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block;}
html, body { }
body { font:16px/1.25 "Open Sans",Arial, Helvetica, sans-serif; margin:0 auto;  }

/* Typography */
h1, h2, h3, h4, h5 { font-family: "Lato", Arial, sans-serif; color:#000; font-weight:900;  }
h2 { font-size:2.25em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
h1, h2, h3, h4, h5 ,span, a, p, blockquote,button,input,label{text-shadow:none !important;}
p, textarea, input { line-height:1.4; word-wrap: break-word; }
a { text-decoration:underline; }

textarea, input { font-size:1em !important; height:1.3em; }
    input:not([type=checkbox]) { font-family: "Margarine", Arial, sans-serif; height:1.3em; }
    /* Crafty Girls|Gochi Hand|Margarine|Patrick Hand|Short Stack|Neucha|Dekko|Gloria Hallelujah|*/


label { font-family: "Lato", Arial, sans-serif; font-size: 1.125em; line-height:1.4; }

/* GLOBAL STYLES & HELPER CLASSES */

.btn.active, .btn:active{box-shadow: none;-webkit-box-shadow:none;}
.small { font-size:.875em; margin-top:5px; }
.smaller { font-size:.775em; margin-top:5px; }
.em{font-weight: 600;color: #454545;}
.text-uppercase { text-transform:uppercase; }
.underlined { text-decoration: underline;margin-top: 10px; }
.border-left{border-left: 1px solid #efefef;}
.block{display: block;}
div.centered,.centered{margin-left: auto !important;margin-right: auto !important;float: none !important;}
.m-0 { margin: 0 !important; line-height:1; }
.m-bot0{margin-bottom: 0px;}
.m-bot10{margin-bottom: 10px;}
.m-bot15{margin-bottom: 15px;}
.m-bot20{margin-bottom: 20px;}
.m-bot30{margin-bottom: 30px;}
.m-top0{margin-top: 0;}
.m-top10{margin-top: 10px;}
.m-top20{margin-top: 20px;}
.m-top30{margin-top: 30px;}
.m-left0{margin-left: 0 !important;}
.m-left10{margin-left: 10px;}
.m-left20{margin-left: 20px;}
.m-right20{margin-right: 20px;}
.p-20{padding: 20px;}
.p-top20{padding-top: 20px;}
.p-bot30{padding-bottom: 30px;}
hr.m5{margin: 5px 0;}
.bg-grey{background-color: #e3e3e3;}
.btn a, .btn-group a{text-decoration: none;}
.grey{color: #A0A0A0;}
.clickable{cursor: pointer; -webkit-transition:all 0.4s ease;transition:all 0.4s ease;}
.clickable:hover{background-color: #F0EDED;-webkit-transition:all 0.4s ease;transition:all 0.4s ease;}
.border-round{border-radius: 6px;}
/* CONTENT LAYOUT */

.wrapper { width:100%; }
.navbar { background: #efefef; }
.main-content, .modal-content { margin-top:40px; padding:0.5em 0 0; }
.boxed-wrapper { max-width:800px;margin:0 auto;margin-top: 46px;padding-top: 30px; }


/* UI Controls - BUTTONS */
.control-group { margin-top:3em; position:relative; }
.bootstrap-switch{box-shadow: none !important;border-color: #ccc !important;}

/* MODAL */
.modal, .modal-content, .modal-body { margin:0 auto; overflow-y:initial; }
.modal-body, .modal-backdrop  { max-height:100%; }
    
.modal { position:absolute; margin-bottom:2em; right:0; left:0; max-width:858px; width:100%; }
.modal.fade { display:none; }
.modal.fade.in { display:block; }

.modal-header { border-bottom: none; }
.modal-body { max-width:800px; }
.modal-footer { background:#d8d8d8; text-align:center; padding: 10px 5px; }

/* MODAL - Typography */
.modal h2, .main-content h2, .main-content h3 { margin-bottom:0; line-height:1.1; }
    .modal-header h3, .modal-body h3 { margin-bottom:.5em; }

/* MODAL - UI Controls - BUTTONS */
.modal input:not([type="checkbox"]), .main-content input:not([type="checkbox"]), #setup-donation-content input:not([type="checkbox"]), #gf-bkt-login input:not([type="checkbox"]) { 
    width:98%; padding:8px 0px; line-height:1.4; border-width: 0 0 2px; box-shadow:none; border-radius: 0;
}
.modal .validation-feedback , #respwdForm .validation-feedback,#gf-bkt-login .validation-feedback ,#donation-userDetails .validation-feedback{
    position: absolute; display: none; background: transparent; 
    height: 15px; margin-top:7px; right:15px;
}
.modal .forgot-pwd { display: block; }
    .forgot-pwd a.txt-forgot { position: absolute; right:0; font-size:.9em; }

/* UI Controls - BUTTONS */
.btn { font-family: "Lato", Arial, sans-serif;   }
    .btn-large { font-weight:900; }
    .btn-large-custom { width:180px;height: 40px; }
    .btn.custom{max-width: 180px;margin-left: auto;margin-right: auto;height: 40px;}

.error-feedback { display:none; }
.validation-feedback i { font-size: 1.2em; top:-18px; }
.close i, .close{color: #333; opacity: 1;}

.control-group.error .validation-feedback i { color: #FC353A; }
.control-group.success .validation-feedback i { color: #468847; }

/* UI Controls - BUTTONS (Button Group / Toggle)  */
.btn-toggle { margin-bottom:40px; width:100%; }
.btn-toggle .btn { padding:5px; width:33%; height:5em; background:#EEE; line-height:1.3; }
    .btn-toggle .btn.active{ background:#fff; border-bottom-color:#DDD; box-shadow: none; }

    .btn-toggle .btn i { margin-right:10px; font-size:36px; color:#DDD; }
    .btn-toggle .btn span{
        display: inline-block; white-space: normal; text-transform: capitalize;
        margin-right:0; width:100px; text-align: left;
    }

/* MODAL - ONE COLUMN */
.modal-one-column, .modal-one-column input:not([type=checkbox]) { text-align:center; }
.modal-one-column { max-width:600px !important; } 
.modal-one-column .modal-body, .one-column .span4 { max-width:400px; width:100%; margin:0 auto; float: none; }
    .one-column .span4 { margin-top:40px; }
.modal-one-column .radio input[type="radio"], 
    .modal-one-column .checkbox input[type="checkbox"] { float:none; margin-top: 0; }

/* MODAL - TWO COLUMN */
.modal .row-fluid .span6 { padding:1em .5em 1em 2em; } 
    .modal .row-fluid .span6:first-child { padding:1em 1.5em; } 

/* Social Media */ 
.modal .social-media-signup a {
    padding:13px; margin:20px auto 0; clear:both; 
    color:#fff; border-radius:2px; text-align: center;
}
.modal .social-media-signup a:focus, .modal .social-media-signup a:hover {
    text-decoration: none; opacity: 0.8;
}
.modal .social-media-signup a i { margin-right: 10px; font-size: 1.2em; }
    .modal .social-media-signup a.facebook { background-color: #334479; }
    .modal .social-media-signup a.linkedin { background-color: #1379C3; }

.or-separator{
    position: absolute; top: 15em; right:calc(50% - 34px); background:#d8d8d8; 
    padding:12px; border:1px solid #a1a1a1; border-radius: 50%; font-size: 0.875em;
}

/* Sign Up As Individual Page */
.signup-section { margin-bottom:30px; }
    .modal-header .signup-section { margin-bottom:0; }
.sign-up-form { border-left:1px solid #e3e3e3; } 

i.signup-envelope { font-size:5.625em; }
a.resendmail { text-decoration:underline; font-size:.875em; }
.signup-section .alert { padding:1em 1.5em; }
.signupnpo .alert { min-height:320px; }

/* signup Progress Indicators */
.progress-dots { margin: 30px 0; }

.progress-dots ul { margin: 0 auto; width:80%; padding-left:5%;}
.progress-dots ul li { width:27%; display: inline-block; margin-right:5px; }

.progress-dots ul li span { float:left; }
.progress-dots ul li .step-dot{
    text-align: center; width:24px; height:24px; border-radius: 50%;
    background:#bbb; color:#fff; font-size:0.75em;line-height: 2em;
}
    .progress-dots ul li .step-dot.active { background-color: #54a954; }
.progress-dots ul li .step-label{
    margin-right: 0; margin-left:6px; width: 60%;
    line-height: 1em; font-size: 0.7em; text-align: left;
}

#setup-donation-content .progress-dots ul li .step-label {
    margin-top: 4px;
    line-height: 1.4em;
    font-size: 0.7em;font-weight: 800;
}
#setup-donation-content .progress-dots ul li .step-dot {
   text-align: center; width:36px; height:36px;background:#fff; -webkit-text-stroke:1px;color:#000; border: 1px solid #bbb;font-size:1em;line-height: 2.2em;
}
#setup-donation-content .progress-dots ul li .step-dot.active{background-color: #54a954;border-color:#54a954;color: #ffffff; }

.signupnpo .title { color:#3a87ad;text-transform: uppercase; }
.upload-section { padding: 10px 0; }
.upload-section .control-group{margin-top: 0.5em;}
.upload-section .input-append{margin-left:0px;width: 240px;background-color: #ffffff;color: #333;font-size: 0.8em;line-height:2.3em;text-align: left;padding-left:8px;}

.upload-section  .btn {border-width: 0 0 1px;color: #0088cc;}.npo-header p{width: 300px;margin:0 auto 20px;}
.start-cta,.span12.start-cta{padding:20px 30px;background-color: #fffaed;margin-left: 0;border:1px solid #fae0a8;border-radius: 4px;transition:all 0.5s ease-in-out;}

.modal-tiles{width: auto;display: inline-block;padding: 30px 120px 30px;}
.tile{width:90px;height: 90px;display: block;background-color: #ffffff;float: left;margin-right:12px;border:1px solid #e3e3e3;padding: 3px;}
.tile-inner{background-color: #e3e3e3;padding:30px 0;line-height:1em;text-align: center;}
.tile-inner p{text-transform: uppercase;font-size: 0.70em;width: auto;margin: 0 auto;}

/* NPO step3 modal carousel */
#npoItem2 p{margin-top:20px;}
p.block{max-width: 300px;padding: 8px;background-color: #ffffff;margin: 0 auto;text-align: center;border:1px solid #fae0a8;}
.carousel-indicators{top:inherit;right: inherit;bottom: -30px;left:47%;}
.carousel-indicators li{background-color: transparent;border: 1px solid #5bb75b;}
.carousel-indicators li.active{background-color: #5bb75b;}
.carousel .item button{margin-top: 20px;}

/* Make Donation page*/
.section-page{
    text-align: center;
}
#btnDonate{
    position: absolute;top: 50%;
}
#spca { font:900 2em/1em "Lato", Arial, sans-serif; font-size:3em !important; color:#000; text-align:center; background:#FFF; }
#donateForm .form-group{
    margin-bottom: 30px;
}
#donateModal label.error.help-block{font-size: 0.9em;}
#donateModal .small a{font-size: 0.9em;}
.black{color: #000;}

/* giving custom selects */
#selAmount.sod_select{border-radius: 0;}
#selAmount.sod_select:before{display: none;}

/* Donation Logged In Page */
#donateLoggedModal{background-color: #efefef;}
#donateLoggedModal .modal-footer{padding: 15px 5px;background: #F5EAB1;}
.user-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e3e3e3;
    margin: 0 auto;
    border:1px solid #a9a9a9;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}
.user-img img{max-height:100%;max-width: 100%; }

.box{background-color:#fff;border:1px solid #e3e3e3;margin-top: 20px;margin-bottom: 0px;padding: 1em 2em;}
.box .box{border-left: none;border-right: none;border-bottom: none;padding-right:10px !important; padding-left: 10px !important;}
.p-section h4{font-size: 1.4em;}
.box h5{font-size: 1.2em;  margin-bottom: 5px !important;}
.summary-wrapper{max-width: 500px;min-height:40px;left:0;right: 0;padding: 0 15px;border:1px solid #cccccc;border-radius: 4px;}
.summary-wrapper .pull-left{width: auto;}
.summary-wrapper .headings{border-bottom: 1px solid #cccccc;margin-bottom: 8px;margin-top: 10px;height: 20px;}
.summary-wrapper .headings span{font-size: 0.75em;}
.summary-wrapper .headings .pull-left{width: auto;}
.box:first-child {margin-top:4px;margin-left: 0 }
.minimal{font-weight: 400;}
.minimal i{margin-right: 10px;font-size: 2em;position: absolute;margin-left:-34px;margin-top: -5px;}
.org-name{width: 80%;}
.co-desc{ margin-top: 0;margin-bottom:20px;font-weight: 600;}
.tax-status{color: #59B259!important;font-size: 12px;display:block;margin-bottom: 15px;border: 1px solid #E3E3E3;padding: 8px;}
.tax-status.large{font-size: 0.9em;}
.tax-status i{margin-right: 6px;}
.tax-status.large i{margin-left: -26px;margin-top:-3px;position:absolute;font-size: 1.5em;}
.tax-status i.pull-right{font-size: 1.6em;color: #adadad;cursor: pointer;}
.box .small.grey{color: #a5a5a5;}
.box > h4{margin-bottom: 0px;}
.box-footer{border-top:1px solid #e3e3e3;margin-top:30px;}
.box-footer h5{margin: 15px 0;font-size: 0.875em;}
.box-footer p{font-size: 0.8em;}
.choice-buttons{margin-top: 30px;}
.choice-buttons button{width: 35%;padding: 7px;}
.choice-buttons button.active{outline: none;border:none;color: #fff;box-shadow: none;}
.choice-buttons button.yes.active{background-color: #51a351;}
.choice-buttons button.no.active{background-color: #bd362f;}
.btn-ghost{ background: #FFF;color: #000;font-weight:700;box-shadow: none;border-width:2px;border-radius:6px;border-color: #e3e3e3;}
.amount-pledged{width: 40px;margin-top: 4px;}
.amount-pledged span{float: left;}
.amt-value{font-size: 24px;}
.more-donations{margin-top: 20px;padding-top: 15px;padding-bottom: 15px;margin-bottom: 15px;text-transform: lowercase;font-weight: 400;}
.more-donations i{margin-right: 6px;color: #333;font-size: 1.25em;position: absolute;margin-left: -20px;margin-top: 2px;}

/* Widgets*/
.widget{display: none;opacity:0.5;margin-top: 100px;transition:all 2s ease-in-out;overflow: hidden;}
.widget.active{display: block;opacity:1;margin-top: 0px;transition:all 2s ease-in-out;}
.widget form input{  margin-bottom: 0;height: 1em;font-size: 1em !important;}
.widget form .control-group{margin-top:15px;}
.widget form label{margin-bottom:8px;}
.widget .box-footer{border-top: none;}

/* Logged In Modal user form */
#userDetails{}
#userDetails .validation-feedback {margin-top: 0;}
#userDetails .validation-feedback i, #payment-type .validation-feedback i{font-size: 1em;color: #999999;}


/* Donation Confirmed Logged In Individual */
.summary-wrapper.email-ack{margin-top: 20px;padding: 10px 60px 25px;}
.share-box{margin-top: 20px;padding-top: 15px;padding-bottom: 15px;}
.share-box a{margin-right: 10px;margin-left:10px;line-height: 1;}
.share-box a i{font-size: 2.5em;margin-top: 5px;}
.share-box a.facebook{color: #46629E;}
.share-box a.twitter{color: #55acee}
.share-box a.gplus{color:#DC4A3D; }
.share-box a.shareit{color:#BBBBBB; }

/* Gift Box */
.gift-box{font-size: 8em !important;}
.gift-box span.badge{position: absolute;top: 20%;right: -20%;padding: 12px;width: 15px;}

/* set up donation */
.focused{-webkit-box-shadow: -1px 5px 17px -3px rgba(153,151,153,1);
            -moz-box-shadow: -1px 5px 17px -3px rgba(153,151,153,1);
            box-shadow: -1px 5px 17px -3px rgba(153,151,153,1);
            padding-bottom: 0 !important;}
.p-section{margin-bottom: 40px;}
#tax-deduc,.box.reset{margin:0;padding-left: 0 !important;padding-right: 0 !important;padding-top: 2em !important;}
.box.m-top0{margin-top: 0 !important;}
.box .box{padding-right: 20px !important;padding-left: 20px !important;}
#tax-deduc .span6{padding-bottom: 30px;}
#tax-deduc .span6:last-child{border-left: 1px solid #e3e3e3;margin-left: 0;}
.bordered-t{
    border-top: 1px solid #e3e3e3;
}

/* Causes selection */
#causes-wrapper{max-width: 90%;margin-right: auto;margin-left: auto;margin-top: 40px;margin-bottom: 30px;}
#causes-wrapper > .span12{margin-left: 0;}
.cause-box.span4 {margin-bottom: 50px;}
.cause-box input[type=checkbox] {
  display: none;
}
.cause-box input[type=checkbox] + label {
  background: #f9f9f9;
  height: 100px;
  width: auto;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  transition: all 0.4s;
  border: solid 1px #d3d3d3;
  box-shadow: 0 0 1px #FFF; /* Soften the jagged edge */
}

.cause-box input[type=checkbox] + label:before{
    content: "Adults";
    display: block;
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 40px;
    font-size: 0.8em;
    line-height: 2.8em;
    bottom: -41px;
    border: solid 1px #d3d3d3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    left: -1px;
}
.cause-box input[type=checkbox]:checked + label:after{
    content: "\f058";
    font-family: "FontAwesome";
    display: block;
    color: #0DB00D;
    background: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right:10px;
}
.preset-amts button{width: 70px;height: 40px;margin: 10px 4px;font-weight: 900;}
#save-actions{border:none;}
#donation-userDetails{padding: 20px;margin-top: 40px;border: 2px solid #e3e3e3;}
input::-webkit-input-placeholder {color: #c0c0c0 !important;} 
input:-moz-placeholder{color: #c0c0c0 !important;} 
input:-ms-input-placeholder{color: #c0c0c0 !important;} 
#donation-userDetails .control-group{margin-top: 1em;margin-bottom: 20px;}
#donation-userDetails .control-group span.validation-feedback.pull-right {display: inline-block;right: 8px;}
#donation-userDetails input{margin-bottom: 3px;height: 1em;font-size: 1em !important;color: #989898 !important;}

#save-status{margin-left: 30px;font-size: 0.8em;color: #7c7c7c;margin-top: 0.75em;}

#user-about-links input{width: 80% !important;border-width:1px !important;font-size: 14px !important;padding-left:5px !important;height: 40px;}
#user-about-links .control-group{margin-top: 10px;}
#user-about-links .input-append.input-prepend{width: 100%;}
#user-about-links .input-append.input-prepend .add-on{height: 30px;font-size: 12px;line-height: 2.5em;}
#user-about-links .input-append.input-prepend .add-on:last-child{background-color: #ffffff;border-left: none;font-size: 18px;line-height: 1.8em;color: #868686;}
#user-about-links .input-append.input-prepend .add-on:first-child{width: 60px;}
#user-about-links .control-group.success .input-append.input-prepend .add-on:last-child:before{color: #54a954;content: "\f058";}

/* Set-up donation step 2*/

.action-link{color: #555555;text-decoration: none;width: 100%;display: inline-block;margin-bottom: 10px;font-weight: 600;}
.action-link:focus,.action-link:hover{color: #1FADE8;text-decoration: none;}
.action-link i{width: 100%;color:#A3A3A3;margin-bottom: 10px;font-size: 24px;}
#dtn-cause-images { padding-top: 0 !important;overflow: hidden; }
    /*#dtn-cause-images > div:first-child{ padding:10px; }*/
.bg-grey { position: relative; }
    .bg-grey .img-placeholder { max-width:100%; }
    .bg-grey .img-placeholder-btn { position:absolute; z-index:1; top:25%; left: 35%; margin:0 auto;  }
#cause-image-preview{border: none;overflow: hidden;}
.img-box{width: 60px;height:60px;display:inline-block;background-color: #f7f7f7;margin-right: 30px;font-size:0.8em;line-height: 1em;border-radius: 8px;overflow: hidden; }
.img-box:before{
    content: "\f040";
    font-family: 'FontAwesome';
    width:60px;
    height: 60px;
    position: absolute;
    display: none;
    line-height: 4.5em;
    background-color: #F5EFEF;
    cursor: pointer;
    border-radius: 8px;
    opacity: 0;
    -webkit-transition:all 1s ease;
    transition:all 1s ease;
}
.img-box:hover:before{display: block;opacity: 1;-webkit-transition:opacity 0.4s ease;transition:opacity 0.4s ease;}

.img-box span.small{margin-top: 15px;display: block;font-size: 1em;line-height: 1.2em;}

#setup-donation-cta{border:none;padding-left: 0;padding-right: 0;}
#setup-donation-cta .btn-group button{width: 50%;height: 40px;font-weight: 800;background: #f5f5f5;}



.mobile-title{width: 181px;}
#donate-buttons button{
    width: 48%;
    float: left;
    margin-left: 2%;
    height: 40px;
    font-weight: 800;
    margin-top: 15px;
}
#donate-buttons button.active {
    background-color: #54a954;border-color: #54a954;color: #ffffff;
}

#donate-buttons button:focus{outline: none;}

#donate-buttons span.smaller{
    display: block;
    clear: both;
    margin-bottom: 20px;
}
#custom-amt-input{
    display: inline-block;
    background-color: #ffffff;
    width: 96%;
    margin-top: 20px;
    border: 2px solid #e3e3e3;
    border-radius:6px;
    padding: 0px;
}

#custom-amt-input span{font-weight: 900;}

.button-input{
    width: 70% !important;
    border-bottom: 2px solid #333;
    height: 20px !important;
    padding: 0 !important;
    margin: 10px 5px;
    text-align: center;
}

.button-input:focus{border: 1px solid #efefef;outline: none;}
#dtn-user-about{border: none;margin-top: 0 !important;}
#dtn-about-us-wrapper{padding: 30px;border: 1px solid #E3E3E3;padding-bottom: 0;}
#dtn-about-us-wrapper .box.reset{margin-top: 20px;padding-bottom: 30px !important; }
#dtn-impact-s .box{padding:346px 0 !important;}
#dtn-user-large-cta .span6.box.reset:first-child{margin-left: 0;}
#dtn-user-large-cta .span6.box.reset{margin-left: 2.064103%;padding-bottom: 30px;}
#dtn-user-large-cta .span6.box.reset .action-link{margin-top: 40px;}
#dtn-user-large-cta .span6.box.reset span.small{width: 62%;display: inline-block;margin-top: 50px;margin-bottom:40px;}
#dtn-user-actions .btn{height: 40px;line-height: 30px;}
#dtn-add-logo .box.reset{background-color: #efefef;}


/* Clear Fix */
body:after, .wrapper:after, .social-media-signup:after { content:""; clear:both; display:block; }

/*       GIFT BASKET       */

#gf-bkt-wrapper{margin-bottom: 60px;}
#gf-bkt-wrapper .section-header{background-color: #ffffff;}
.gf-bkt{border: 1px solid #DDD;border-radius: 8px;border-collapse: separate;margin-top: 40px;}
.gf-bkt thead tr td{font-size: 0.875em;}
.gf-bkt tr{border-top:0px solid #333;border-left:1px solid #333;border-rigt:1px solid #333;}
.gf-bkt tr td{border-right:1px solid #DDD;text-align: center;font-size: 0.875em;vertical-align: middle;}
.gf-bkt tr td i{color:#BABABA;display: block;margin-bottom: 1px;}
.gf-bkt tr td i.visible-phone{margin-top: 5px;position: absolute;padding: 10px 20px;right:70px;}
.gf-bkt tr td.success,.gf-bkt tr td .tax-statement.success,.gf-bkt tr td.success i{color:#5bb75b;}
.gf-bkt tr td.warning,.gf-bkt tr td .tax-statement.warning,.gf-bkt tr td.warning i {color:#faa732;}
.gf-bkt tr td.info,.gf-bkt tr td .tax-statement.info, .gf-bkt tr td.info i{color:#49afcd;}
.gf-bkt tr td:last-child{border-right:none;}
.gf-bkt tbody tr td:first-child{width: 49%;height:100px;text-align: left;padding:10px 15px;}
.gf-bkt tbody tr td:nth-child(2) {width: 20%;font-size: 0.80em;line-height: 1.3em;}
.gf-bkt tbody tr td:nth-child(2) i {font-size: 1.85em;}
.gf-bkt tbody tr.summary {font-weight: 800;}
.gf-bkt tbody tr.summary a{color: #333;text-decoration: none;}
.gf-bkt tbody tr.summary td:first-child{height: 60px;font-weight:500;}
.gf-bkt tbody tr.summary td {font-weight: 800;}
.gf-bkt tbody tr.summary i {color:#333;display: inline-block;}
.gf-bkt tbody tr td i.edit-table {padding: 30px 5px;}
.gf-bkt tbody tr.visible-phone.summary td {text-align: center;}
.gf-bkt tbody tr td span.tax-statement{display: block;margin-top: 20px;}
#gf-bkt-login{max-width: 350px;margin-left: auto;margin-right: auto;}
#gf-bkt-login .control-group{margin-top: 1em;}
#gf-bkt-login input{padding: 5px 0 !important;}
#gf-bkt-login .help-block{font-size: 0.875em;}
.gf-bkt .cellEditing{max-width: 100%;}
.p-footer{background-color:#F5EAB1;padding: 15px 5px; }
.editIp{border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* Basket Quick Access */
#qk-bkt-toggle{background-color: #ffffff;color: #000;font-weight: 900;border-radius: 0;margin: 0;padding: 15px 15px 15px;}
#qk-bkt-toggle img{margin-top: -5px;margin-right: 2px;}
.qk-bkt-li ul{display: none;width: 370px;background-color: #ffffff;position: absolute;right: 0;border: 1px solid #E3E3E3;}
.qk-bkt-li ul li{list-style: none;border-bottom: 1px solid #E3E3E3;text-align: center;}
.qk-bkt-li ul li a{padding: 15px 10px;display: block;min-height: 60px;color: #555;text-decoration: none;}
.qk-bkt-li ul li.more-items a{line-height: 55px;}
.qk-bkt-li ul li .qk-org-name{width: 68%;display: inline-block;text-align: left;}
.qk-bkt-li ul li .qk-org-amt{float: right;width: 25%;background-color: #f5f5f5;padding: 20px 8px;text-align: center;border-radius: 6px;border:1px solid #E3E3E3;font-weight: 900;font-size: 1.2em;}
.qk-bkt-li:hover > ul{display: block;}
.qk-basket-wrapper{position: relative;top: 46px;}

#setup-dtn-carousel .carousel-control {
    margin-top: 10px;
    height: 30px;
    width: 30px;
    font-size: 15px;
}

#vw-gift-bkt-donate{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#vw-gift-bkt-donate .box{
    padding:15px;
}
#vw-gift-bkt-donate ul {margin: 0;}
#vw-gift-bkt-donate ul li{list-style: none;text-align: left;padding: 10px 8px 10px 30px;border-bottom: 1px solid #e3e3e3;}

#payment-type.box{padding: 0;}
#payment-type ul li > label{display: inline-block;}
#payment-type .input-wrapper{width: 350px;}
#payment-type .input-wrapper .control-group{margin-top: 20px;}
#payment-type .input-wrapper .control-group label{display: inline-block;}
#payment-type .input-wrapper .control-group .controls{float: right;}
#payment-type .input-wrapper .control-group .controls input:not([type=checkbox]){line-height: 1.4;border-width: 0 0 2px;
  box-shadow: none;
  border-radius: 0;
}




/***************************************************************************
                            Media Queries
***************************************************************************/


@media (min-width: 1200px) {
    .modal { max-width:1000px; }
    .start-cta, .span12.start-cta{height: 377px;}
    .boxed-wrapper.wide{max-width: 1000px;}
    .donation-wrapper{max-width: 700px;float: right;}
    #setup-donation-content .acc-toggle.text-left{width: 200px;float: left;margin-left: -300px;margin-top: 0;line-height: 1em;}
    #setup-donation-content .progress-dots{margin-bottom: 0;}
    #setup-donation-content .progress-dots ul li { width:15%; display: inline-block; margin-right:5px; }
    #setup-donation-content .progress-dots ul {width: 100%;padding-left: 0;}
    #setup-donation-content .progress-dots ul li:first-child {float: left;}
    #setup-donation-content .progress-dots ul li:nth-child(2) {margin: 0 auto;}
    #setup-donation-content .progress-dots ul li:last-child {float: right;width: 11%;margin-right: 0;}
    #setup-donation-content #dtn-user-step2 ul li:last-child{width: 16%;}
    #save-actions{margin-bottom: 30px;}
    #user-about-links .input-append.input-prepend .add-on:last-child{width: 40px;}
}

@media (min-width: 768px) and (max-width: 979px) { 
    .start-cta, .span12.start-cta{height: 377px;}
    #setup-donation-content .progress-dots ul {width: 100%;padding-left: 0;}
    #setup-donation-content .progress-dots ul li { width:18%; display: inline-block; margin-right:5px; }
    #setup-donation-content .progress-dots ul li:first-child {float: left;}
    #setup-donation-content .progress-dots ul li:nth-child(2) {margin: 0 auto;}
    #setup-donation-content .progress-dots ul li:last-child {float: right;width: 16%;}
    #setup-donation-content .progress-dots ul li .step-label{display: inline-block;margin-top: 0;line-height: 1.2em;}
    #tax-deduc .span6 {width: 48.61878453038674%;}
    .cause-box.span4{width:31.491712707182323%!important;margin-left: 1.4%!important;margin-bottom: 50px!important;}
    #contact-info .span6.centered{width: 50%;}
    #dtn-cause-images{padding: 0 !important}
    #dtn-user-actions{  width: 100%;margin-left: 0;}
    #dtn-user-actions .btn{margin-bottom: 30px;}
    #donate-buttons button{width: 14%;}
    #dtn-user-large-cta .span6.box.reset{width: 48%;margin-left: 3.6% !important;}
    #dtn-user-large-cta .span6.box.reset:first-child{margin-left: 0 !important; }
        .bg-grey .img-placeholder-btn { top:35%; left:38%; margin:0 auto;  }
    #dtn-user-about{padding-left: 0px !important;}
    #user-about-links .input-append.input-prepend .add-on:last-child{width: 40px;}

}

@media (max-width: 979px) {
    /* CONTENT LAYOUT */
    .row-fluid .span6, .row-fluid .span4  { width:100%; margin:0; padding:0; }
        .row-fluid .box.span6 { padding:0 1em  !important; }
    .modal { max-width:598px; }
    .modal-body { max-width:280px; }
    .boxed-wrapper { max-width:280px; }
    .boxed-wrapper.wide{max-width: none;padding: 0 30px;}
    .boxed-wrapper.gf{max-width: 800px;padding: 0 30px;}
    .sign-up-form { margin-top:50px; border-left:none; }

    .carousel-indicators{left:41%;}
    .box{margin-bottom: 20px;}

    /* UI Controls - FORM ELEMENTS  */
    form { text-align: center; }
    input:not([type=checkbox]) { text-align:center; }
    .radio input[type="radio"], .checkbox input[type="checkbox"] { float:none; margin-top:0; }

    .btn-toggle .btn { height: auto; }
    .btn-toggle .btn span { width: 100%; float:left; text-align: center;font-size:0.7858em;}
    .btn-toggle .btn i { margin:0; }

    .mobile-separator { margin:4em -40px 1em; }
    .or-separator { position:relative; right:auto; left:calc(50% - 22px); top:5.2em; }

    .progress-dots ul{text-align: center;}
    .progress-dots ul li{width: auto;margin-right: 12px;}
    .step-label{display: none;}
    .start-cta, .span12.start-cta{padding: 20px 20px;}
    .modal-tiles{width: 100%;padding: 5px 0px 5px;}
    .tile{width:60px;height: 60px;margin-right: 5px;}
    .tile-inner{padding: 16px 0;}
    .tile-inner p{width: auto;font-size: 0.6em;}
    .npo-header p{width: auto;}
    .help-block { padding:0 1em; }
    .modal .row-fluid .span6, .modal .row-fluid .span6:first-child { margin-bottom:20px; padding: 1em .5em; }
    .upload-section .input-append{padding-left: 2px;}
    .carousel-control{display: none;}
    .border-left{border-left: none;}
    .summary-wrapper.email-ack {padding: 10px 15px 25px;}

    /*Donate Logged In*/
    .org-name{width: 80%;float: left !important;}
    .amt-value{float: right !important;width: auto !important;}

    
    #setup-donation-content .progress-dots ul li .step-dot {
       text-align: center; width:24px; height:24px;background:#fff; -webkit-text-stroke:0.5px;color:#000; border: 1px solid #bbb;font-size:0.8em;line-height: 1.8em;
    }
    #tax-deduc, .box.reset{padding-left: 9px !important;padding-right: 9px !important;}
    #save-actions.step1{background-color: #e3e3e3;min-height: 120px;}
    #save-actions.step1 .btn{width: 120px;font-size: 0.75em;}
    #save-status.step1{width: 100%;margin-left: 0;margin-bottom: 20px;margin-top: 15px;}
    #tax-deduc .span6 h6{margin-bottom: 0;margin-top: 20px;font-size: 0.95em;}
    #cause-image-preview{padding: 0 !important;}
    .img-box{width: 50px;height:50px;background-color: #f7f7f7;float: none;margin-right: 5px;line-height:1em;border-radius: 8px;overflow: hidden; }
    .img-box:before{
        width:50px;
        height: 50px;
        line-height: 4em;

    }
    .img-box span.small {margin-top: 10px;}
    #contact-info{margin-bottom:0; }
    #setup-donation-cta{padding-left: 0!important;padding-right: 0!important;padding-top: 0 !important;}
    #dtn-about-us-container,#dtn-cause-images{width: 100%;padding: 0 !important;}
    #dtn-user-large-cta .span6.box.reset{margin-left:0;margin-bottom: 30px;padding-bottom: 30px !important;padding-top: 20px!important;}
    #dtn-user-actions > .btn, #dtn-user-actions > .btn-group{width: 50%;float: left;margin-top: 0;border-radius: 0;}
    #dtn-user-actions .btn{height: 40px;line-height: 30px;}
    #dtn-user-actions .btn.btn-default{background: #f5f5f5;border-radius: 0;}
    #dtn-user-actions .btn.fullwidth{width: 100%;}
    #dtn-impact-s .box {padding: 30px 30px !important;}
    #dtn-user-actions > .box{background-color: #efefef;margin-top: 20px;}
    #dtn-user-actions #dtn-impact-s{background-color: #fff;border: 1px solid #dddddd;}
    #dtn-add-logo .box.reset{background-color: #efefef;}
    #custom-amt-input{
        float: left;
        width: 150px;
        margin-left: 20px;
        margin-top: 14px;
    }

    #custom-amt-input .button-input{margin: 7px 5px;}
    /* custom wrapper for setup donation step 2*/
    div#setup-dtn-2-wrapper{max-width: 620px;margin-right: auto;margin-left: auto;}

}

@media (max-width: 767px) {
    body { padding-right:8px; padding-left:8px; }
    .modal, .modal-one-column { max-width:294px !important; }
    .modal-body, .modal-one-column .modal-body { max-width:280px; }
    .boxed-wrapper.gf, .boxed-wrapper { max-width:280px; padding: 0; }
    .boxed-wrapper.wide { max-width:320px; }
    .start-cta, .span12.start-cta{height: 335px;}
    .signupnpo .alert { min-height:100%; }
     #fundr-prefs  h5{width: auto; max-width: 180px;margin-right: auto;margin-left: auto;margin-top: 0;}
    #fundr-content{padding: 10px 0;}
    .donation-wrapper{background-color: #e3e3e3;}
    #donation-userDetails{border: none;}
    #donation-userDetails  .control-label.small {font-size: 1.1em;}
   
    #setup-donation-wrapper{margin-top: 0;padding-top: 10px;}
    .section-header{background-color: #e3e3e3;padding: 15px 0;}
    .p-section{margin-bottom: 20px;}
    .p-section > .box.span12{display: none;}
    .p-section.active > .box.span12{display: block;}
    #tax-deduc .span6:last-child {border-left: none;}
    .p-section h4 { font-size:1.2em; }


    #causes-wrapper{margin-top: 10px;}
    .cause-box.span4{margin-top: 15px;border-radius: 6px;border:2px solid #efefef;overflow: hidden;}
    .cause-box input[type=checkbox] + label:before {width: 200px;height: 50px;line-height: 3.8em;font-size:0.75em;bottom: -41px;left: 42px;top: 0px;border:none;border-left:1px solid #efefef;
        border-radius: 0;background-color:#f9f9f9;padding-left: 10px;text-align: left;}
    .cause-box input[type=checkbox]:checked + label:after {top: 13px;}
    .cause-box input[type=checkbox]:checked + label:before {background-color: #ffffff;}

    .cause-box input[type=checkbox] + label {height: 50px;background-size: contain;margin:0;border-radius: 0;border:none;}
    #causes-span{margin-left: 30px;margin-right: 30px;display: block;}

    /* Mobile Interactions for Set up donation sections */
    .acc-toggle {
      background-color: #838383;
      color: #fff;
      padding: 10px 20px;
      font-size: 1.1em !important;
      margin: 0;
      cursor: pointer;
    }
    .acc-toggle:before{float: right;width: 20px;height: 20px;display: inline-block;
        background-color: transparent;margin-top:2px;position: relative;content: "\f068";font-family: 'FontAwesome';}
    hr.m5{margin: 0;}
    #preview-label{margin-top: -20px;}
    #user-about-links input{width: 64% !important;}
    #save-actions .btn {width: 47%;}
    #dtn-cause-images .bg-grey .img-placeholder-btn { top: 23%; left: 10%; width: 80%; }
    .gf-bkt tbody tr.visible-phone.summary {display: table-row !important;}
    .gf-bkt tbody tr td:first-child{height: 130px; width:75%;}
        .gf-bkt tr td:first-child { width:75%;}
    .gf-bkt tbody tr td span.tax-statement{display: block !important;}
    .gf-bkt tr td { position: relative; }
    .gf-bkt tr td i.visible-phone{
        padding: 10px 20px !important;
        right: 0;
        bottom: 0;
        border: 1px solid #ddd;
        border-bottom-width: 0;
        border-right-width: 0;
    }
    #dtn-impact-s .box.reset{border: none;margin-top: 0;}
    #dtn-about-us-wrapper{padding:0 0 30px 0;}
    #dtn-impact-s .box {padding: 15px 30px !important;}
    #dtn-add-logo .box.reset{border: none;margin-top: 0;background-color: #ffffff;}
    #dtn-add-description{border: none;}
    #dtn-about-us-wrapper .box.reset{margin-top: 0;padding-top:1em!important;}
    #dtn-about-us-wrapper hr.m-bot30{margin-bottom: 30px;}
    .tax-status{border:none;border-top: 1px solid #e5e5e5;padding-top: 10px;padding-bottom: 0;}
    #dtn-org-name{width: 70%;margin-right: auto !important;margin-left: auto !important;}
    #save-status{width: 100%;margin-left: 0;margin-top: 20px;margin-bottom: 20px;}
    h4.td-large-sm{margin:auto 15px;}
    
}

@media (max-width:310px) {
    body { width:100%; max-width:300px; overflow: visible;}
}