/* TYPOGRAPHY FOR SERVER */
.btn-group .btn.btn-ghost.active,
.btn-group .btn.btn-ghost:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-2 { box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 { box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
.z-depth-4, .modal { box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }
.z-depth-5 { box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

/* HEADER   */
.aui #main-nav-header {
  position: fixed; top: 0; left: 0; height: 50px; width: 100%;
  text-align: center; z-index: 1030; background: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.aui #main-nav {
    left: -120%; background: #FFF; 
    -webkit-transition: left 0.3s; -moz-transition: left 0.3s; transition: left 0.3s; 
}
.aui #main-nav ul a { color:#333; text-decoration: none; }
.aui #main-nav ul a.current { background-color: #f2f2f2; font-weight: bold; }

/* MOBILE MENU */
.aui #uf-dockbar-hamburger-menu a i {
  font-size: 1.4em;
  color: #333;
  line-height: 1.4; }


/*************************************************************/
/* HOME PAGE CAROUSEL */
/*************************************************************/
.carousel > .ico.active .fa, .carousel > .ico:hover .fa {
  color: #43AD49; }




.p-title.landing + p {
  color: #424242; }



.aui .nl-form, .aui .nl-form a { color: #333333; text-decoration: none; }
.aui .nl-form .refine-inputs span {color: #333333 !important; }

.gallery-date-box {
  border-top: 1px solid #73C8ED;
  margin: 1em -1.5em 0;
  padding: 1em 1em .5em; }

.gallery-txt-box p {
  margin: 0 0 30px;
  font-size: .9em;
  float: left; }

.gallery-txt-box .fa-stack {
  float: right; }

.gallery-date-box .fa-stack-2x {
  font-size: 1.2em; }

.gallery-date-box .fa-stack-1x {
  font-size: .4em;
  top: -4px; }

.gallery-txt-box button {
  padding: 10px 20px !important;
  text-transform: uppercase; }

.gallery-txt-box button:hover {
  background-color: #8AD3F3 !important; }

/* Why Giving  Corporate Identity CHANGE (BLUE) */
.inform-area h3 {
  font-size: 1.5em; }

/* 24px */
.text-block-add {
  background: #ededed; }

.text-block-add:before {
  border-color: #ededed transparent transparent transparent; }

/* Why Giving Corporate Identity CHANGE (BLUE) */
/* Causes Display */

.cause-box a, .cause-box a:link {
  text-decoration: none; }

.cause-box a:hover h4, .cause-box a:active h4 {
  text-decoration: none;
  color: #ffffff !important; }


.cause-box:hover a {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.cause-box:hover a h4 {
  background-color: rgba(0, 0, 0, 0);
  border: 0; }

.nature .mobile-block > h4 {
  line-height: 30px; }


.row-fluid.m-bot20 .action-link,
.box-r-footer a,
#dtn-user-large-cta .action-link,
.link-box .action-link {
  color: #17A4E1 !important; }

.row-fluid.m-bot20 .action-link:hover,
.box-r-footer a:hover,
#dtn-user-large-cta .action-link:hover,
.link-box .action-link:hover {
  color: #0C5676 !important; }

.row-fluid.m-bot20 .small,
#dtn-add-logo p {
  color: #333; }

/* NPO lIsting */
.checkbox-clone.checked:before, #camp-holder .checkbox-clone.checked:before {
  color: #333 !important; content: "\f00c" !important; }

.checkbox-clone.checked[data-parent="ref_allcauses"]:before,
.checkbox-clone.checked[data-parent="ref_campaigns"]:before,
.checkbox-clone.checked[data-parent="ref_allorgs"]:before {
  content: "\f0d7" !important; }


/* Search Page & Search UI */
#search-form input#search_term::-webkit-input-placeholder, #uf-dockbar-search-mobile input[type="text"]::-webkit-input-placeholder {
  color: #ccc !important; }

/* WebKit, Blink, Edge */
#search-form input#search_term:-moz-placeholder, #uf-dockbar-search-mobile input[type="text"]:-moz-placeholder {
  color: #ccc !important; }

/* Mozilla Firefox 4 to 18 */
#search-form input#search_term::-mox-placeholder, #uf-dockbar-search-mobile input[type="text"]::-mox-placeholder {
  color: #ccc !important; }

/* Mozilla Firefox 19+ */
#search-form input#search_term:-ms-input-placeholder, #uf-dockbar-search-mobile input[type="text"]:-ms-input-placeholder {
  color: #ccc !important; }

/* Internet Explorer 10-11 */
#uf-dockbar-search-mobile input[type="text"], #uf-dockbar-search-mobile input[type="text"]:focus {
  border-width: 0 0 1px 0;
  border-style: solid;
  color: #333 !important;
  height: auto !important;
  border-radius: 0;
  box-shadow: none; }

.title-search .big {
  margin-right: 8px;
  margin-left: 8px; }

#cpn-info div.img-box a i {
  padding: 4px 8px; }

/******************************************/
/*  START OF FOOTER*/
/*****************************************/
.aui .f-block .social-share .fa {
  margin-right: 0;
  }

.aui .pre-footer h4 {
  font-weight: normal;
  font-size: 1.3125em; }

.aui .pre-footer h4 a, .pre-footer h4 a:link {
  color: #ffffff !important;
  text-transform: uppercase; }

.aui .footer-links li a, .footer-links li a:link {
  text-decoration: none;
  color: #FFF; }

.aui .footer-links li a:hover {
  text-decoration: underline; }

.aui .footer a, .footer a:link {
  text-decoration: underline;
  color: #fff !important; }

.aui .footer a:hover {
  text-decoration: none; }

.aui .footer {
  background-color: #6b6b6b;
  padding: .35em 0; }

.aui .footer-ul span {
  color: #ffffff; }

.aui .pre-footer-social label {  color: #FFF; text-transform: uppercase; }

.aui .acc-toggle:before { color: #333; }
.aui .acc-toggle.collapsed:before { color: #666; }

/*************************************************************/
/* SELECTS AND DROPDOWNS */
/*************************************************************/
/******************************************/
/*  START OF CARD UI */
/*****************************************/
.cpn-sgtn-item .sgtn-img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
  max-height: 152px; }

.cpn-sgtn-item .sgtn-body h5 a:hover {
  text-decoration: underline; }

.more-days.inline h4 {
  font-size: 1.25em;
  color: #141414; }


.campaign-stats .progress .bar {
  border-radius: 0px;
  background: #17A4E1;
  text-shadow: none;
  box-shadow: none; }

.cpn-sgtn-item.corp-blue .sgtn-body .campaign-stats button {
  box-shadow: none; }

.cpn-sgtn-item.corp-blue:hover .sgtn-body .campaign-stats button {
  background-color: #10709a; }

.cpn-sgtn-item .cpn-featured-status, .cpn-featured-status {
  top: 17px;
  left: -42px; }

.volunteer-activity .cpn-sgtn-item h4 {
  font-size: 1.5em;
  margin: 0; }

.volunteer-activity .cpn-sgtn-item .block {
  font-size: 1em;
  color: #999; }

.cpn-sgtn-item .causes.multiple ul li {
  display: none; }

.more-days span.em {
  font-weight: 400 !important; }

.aui .cn-days-wrapper .more-days h4{
	font-size:24px;
}

/* Hover state of card */
.cpn-sgtn-item:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-bottom-color: transparent;
}

.cpn-suggestions .load-all-box:hover, .cpn-suggestions .add-cpn-btn:hover {
  background: none;
  box-shadow: none; }

.cpn-sgtn-item:hover .sgtn-body, .cpn-sgtn-item:hover .box-r-footer {
  background-color: #17A4E1;
  border-bottom-color: #0C5676; }

.cpn-sgtn-item:hover .box-r-footer { border-top-color: #10709a; }

.cpn-sgtn-item:hover .sgtn-body h5 a, .cpn-sgtn-item:hover .sgtn-body h5, .cpn-sgtn-item:hover p, .cpn-sgtn-item:hover .txt-npo {
  color: #ffffff; }

.cpn-sgtn-item:hover .campaign-stats .progress {
  border: 1px solid #17A4E1;
  background-color: #0c5676; }

.cpn-sgtn-item:hover .campaign-stats .progress .bar {  background-color:#6ac7f0; }


.cpn-sgtn-item:hover .more-days.inline h4 {
  color: #FFF; }

.cpn-sgtn-item:hover .campaign-stats h4, .volunteer-activity .cpn-sgtn-item:hover h4, .volunteer-activity .cpn-sgtn-item:hover .block, .cpn-sgtn-item:hover .campaign-stats span.em, .cpn-sgtn-item:hover .more-days.inline h4, .cpn-sgtn-item:hover .more-days.inline span.em {
  color:#172A35; }

.cpn-sgtn-item .action-link {
  position: absolute;
  top: 50%;
  margin-top: -36px;
  left: 0;
  right: 0; }

/* Expired Card */
.cpn-sgtn-item.expired .sgtn-body, .cpn-sgtn-item.expired .box-r-footer, .cpn-sgtn-item.expired:hover .sgtn-body, .cpn-sgtn-item.expired:hover .box-r-footer {
  background-color: #f7f7f7;
  border-bottom-color: #CCC; }

.cpn-sgtn-item.expired .more-days.inline h4, .cpn-sgtn-item.expired .more-days.inline span {
  color: #a8a8a8 !important; }

.cpn-sgtn-item.expired:hover .sgtn-img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden; }

.cpn-sgtn-item.expired:hover .campaign-stats .progress {
  border: 1px solid #f7f7f7;
  background-color: #0c5676; }

.cpn-sgtn-item.expired:hover .sgtn-body h5 a {
  color: #141414; }

/*.cpn-sgtn-item.expired:hover .sgtn-body h5 a:visited{
    color: #424242;
}*/
.cpn-sgtn-item.expired:hover .txt-npo {
  color: #666; }

/******************************************/
/*  END OF CARD UI */
/*****************************************/
/*****************************************/
/*  BUTTON STYLES START */
/****************************************/


.dropdown > button, .dropdown > button:hover,  .select-like button, .select-like button:hover, .action-btn > button {
  box-shadow: none !important; }


.inform-area .box-btn .btn {
  background-color: #B0E1F7;
  color: #0C5676 !important; }


/*****************************************/
/*  BUTTON STYLES END */
/****************************************/
/******************************************/
/*  START OF SIDEBAR */
/*****************************************/
#uf-dockbar-sidebar ul {
  margin: 0; }

#uf-dockbar-sidebar ul li > a, #sidebar ul li > a {
  text-decoration: none;
  color: #333; }

/*#uf-dockbar-sidebar ul li > a:visited, #sidebar ul li > a:visited { color: #333; }*/
#uf-dockbar-sidebar ul li:first-child, #sidebar ul li:first-child {
  padding-bottom: 10px !important; }

#sidebar ul li > a {
  padding: 13px 15px 13px 30px; }

#uf-dockbar-sidebar ul li > a {
  padding: 13px 1em 13px 2em; }

#uf-dockbar-sidebar li.admin > a, #uf-dockbar-sidebar ul li > a.active, #sidebar ul li > a.active,
#uf-dockbar-sidebar ul li > a.active:hover, #sidebar ul li > a.active:hover {
  background: #f2f2f2;
  box-shadow: 5px 0px #43ad49 inset;
  border: 0; }

#uf-dockbar-sidebar ul li > a:hover, #sidebar ul li > a:hover {
  box-shadow: 5px 0px rgba(67, 173, 73, 0.5) inset; }

#uf-dockbar-sidebar .profile-nav img {
  width: 240px;
  height: 135px; }

/******************************************/
/*  END OF SIDEBAR */
/*****************************************/
/* TABLET (LARGE) */
@media only screen and (max-width: 980px) {
  .aui h1 {
    font-size: 2.5em;
    line-height: 1.125em; }

  /* 40px */
  .aui #logo a {
    padding: 0 .5em; }

  /* CARDS UI  */
  .cpn-sgtn-item .sgtn-img {
    height: auto; }

  .may-like-title {
    margin-bottom: 38px; } }
/* TABLET (SMALL) */
@media only screen and (max-width: 767px) {
	#causes-wrapper .cause-box.span4{
		width:100% !important;
		max-width:277px;
		margin: 10px 0 !important;
	}
  .aui .pre-footer .acc-toggle {
    color: #fff;
    background-color: #172A35;
    border-color: #424242;
    border-width: 1px 0 0;
    margin-bottom: 0 !important; }

  .aui .pre-footer .p-section {
    background-color: #333333; }

  .social-share a i {
    line-height: 1.4 !important; } }
@media only screen and (max-width: 768px) {

  /* HOMEPAGE CAROUSEL */
  .aui #nav li br, .home-slider .slider-navigation { display: none; }


  /* LISTINGS PAGE */
  .listings-wrapper .cpn-holder {
    margin: 0px auto 20px; } }
@media only screen and (max-width: 599px) {
  .aui .home-slider .cpn-slider-inner.swiper-wrapper {
    height: auto;
    padding-bottom: 3em; }

  .aui .home-slider .swiper-slide .gallery-txt-box {
    padding: .75em 5%;
    width: 91%;
    text-align: center;
    height: 2.4em;
    bottom: -3em; }

    .aui .gallery-txt-box h3 {
    font-size: 1em;
    width: auto;
    float: none;
    /* clear: both; */ }

  .aui .gallery-txt-box .btn {
    display: none; } }
/* PHONE */
@media only screen and (max-width: 320px) {
  #donationAmt div.modal-body {
    max-width: 280px;
    padding: 15px; }

  /* HOMEPAGE CAROUSEL */
  .home-slider .swiper-slide picture img {
    min-height: inherit;
    height: auto;
    width: 100%; } }
@media only screen and (min-width: 769px) {
    .aui #main-nav-header, .aui .navbar-inverse .navbar-inner { height: 70px; padding: 0; }

  .aui #main-nav {
    /* reset main nav style */
    left: 190px;
    right: auto;
    background: transparent;
    box-shadow: none;
    z-index: 1030;
    font-size: 1.125em; }

  .aui #main-nav ul a {
    padding: 1.45em .7em; }

  .aui #main-nav ul a.current {
    box-shadow: 0 -4px 0 0 #43AD49 inset; }

  .aui #main-nav ul a:hover {
    box-shadow: 0 -4px 0 0 rgba(67, 173, 73, 0.5) inset; }

  .aui #uf-dockbar-hamburger-menu {
    display: none; } }
@media only screen and (min-width: 981px) { 
    .aui #main-nav { left: 200px; }
    .aui #main-nav ul a { padding: 1.45em 1.3em; } 
}

/*************************************************************/
/*NON THEMING CSS TO CORRECT LAYOUT ERRORS*/
/*************************************************************/
.data-list li .action-btn button, .dropdown-select button {
  border: 1px solid #ccc !important; }

.dropdown-menu a {
  text-decoration: none; }

.select-like > button {
  border-bottom: 1px solid #999 !important; }


button.btn.btn-ghost.delete-row {
  margin-right: -10px; }

.qk-basket-wrapper li {
  display: block !important;
  height: auto !important;
  padding: 0.2em !important; }

.short .cpn-sgtn-item .sgtn-body {
  min-height: 100px; }

.vpos-meta .openings > h4 {
  font-size: 1.75em;
  font-weight: 500; }

.cpn-url-box input.span10 {
  margin-right: 0; }


.cpn-url-box button {
  min-width: inherit; }

@media (max-width: 1023px) and (min-width: 980px) {
  .donors-area .dr-img {
    margin-left: 3.3%;
    margin-right: 3.3%; } }

/* IE image fixes for image icons in header and buttons*/
.aui #uf-dockbar-right-menu ul li img, button img.icon { max-height: 100%; }



/*************************************************************/
/* PERMANENT ADDITIONS */
/*************************************************************/
.tax-status-i {
  width: 24px;
  height: auto; }

.btn-primary a i, .btn-primary a span {
  color: #ffffff; }

/*************************************************************/
/* TEMPORARY EDITS */
/*************************************************************/
#donate-now, #cause-image-preview, .cn-ln-details, s
#cpn-info .cn-statswrapper, #cpn-info .box.causes, .evn-details .cn-days-wrapper {
  display: none; }
.popover-content .btn-row > h3 {
  display: inline-block; }