body.overflow-hidden {
  /* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */
  overflow: hidden; }

/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */
/* http://stackoverflow.com/questions/802175/truncating-long-strings-with-css-feasible-yet */
.uf-ellipsis {
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis;
  -moz-binding: url("assets/xml/ellipsis.xml#ellipsis"); }

.uf-dockbar-container {
  /* this class is used to horizontally align the gallery of items */
  position: relative; width: 90%; max-width: 1200px; margin: 0 auto; }

.uf-dockbar-container::after {
  /* clearfix */
  content: ''; display: table; clear: both; }

.uf-dockbar-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

/* -------------------------------- 

xheader 

-------------------------------- */
#uf-dockbar-right-menu ul li.sign-in span { 
  float: right; display: block; line-height: 35px; margin-left: -10px;color: #333; font-size:1.125em;
}
#uf-dockbar-right-menu ul li.sign-in:hover span { text-decoration:underline; }

@media only screen and (min-width: 768px) {
  #uf-dockbar-right-menu ul li.sign-in span {
    margin-right: 10px;
    margin-left: 5px;
    line-height: 34px; }

  li#uf-dockbar-sidebar-trigger a img {
    margin-right: 10px;
    margin-left: 5px; } }
#uf-dockbar-hamburger-menu, #uf-dockbar-right-menu {
  position: absolute;
  top: 0;
  height: 70px;
  z-index: 1090; }

#uf-dockbar-hamburger-menu a {
  width: 60px; }

#uf-dockbar-hamburger-menu {
  left: 0;
  padding: 0.5em 1em; }

#uf-dockbar-right-menu {
  right: 0; }

#uf-dockbar-right-menu ul {
  list-style: none;
  margin: 0px !important;
  height: 70px; }

#uf-dockbar-right-menu ul li {
  display: inline-block;
  height: 30px;
  padding: 1em .75em 1em .25em;
  /* margin-right: -5px; DB HIDE for the alignment */ }

#uf-dockbar-right-menu ul li#uf-dockbar-search-list-item {
  padding: .25em;
  width: 30px; }

#uf-dockbar-right-menu ul li.highlight span {
  display: block;
  float: right;
  line-height: 35px;
  /* db margin-left: 0px; */
  font-weight: 900; }

#uf-dockbar-right-menu ul li.highlight {
  background: white; }

#uf-dockbar-right-menu ul li.sign-in img {
  width: 0 !important; }

@media only screen and (max-width: 980px) {
  #uf-dockbar-right-menu img {
    width: 24px;
    height: 24px;
    padding: 5px 0; } }
@media (max-width: 768px) {
  #main-nav {
    left: 143px;
    right: auto; }

  #uf-dockbar-right-menu ul li {
    /* height: 34px; */
    padding: 0.5em;
    }

  #uf-dockbar-right-menu {
    position: absolute !important; }

  #uf-dockbar-search-list-item {
    display: none !important; }

  /* DB comment 
  #logo a { overflow: hidden;display: block;} 
  #logo a img {width: 156px;}

  #logo{padding-top: 0;}*/ }
@media (max-width: 480px) {
  #uf-dockbar-cart-trigger.highlight a > span {
    display: none !important; } }
  /* DB COMMENT    
#main-nav, #uf-dockbar-cart, #uf-dockbar-sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  /* header height
  overflow-y: none;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1029; }  */
@media only screen and (min-width: 768px) {
  /* DB commented
  #main-nav, #uf-dockbar-cart {
    width: 350px; } 
     #uf-dockbar-hamburger-menu {
    display: none; }*/ }
@media only screen and (min-width: 1200px) {
  /* DB commented
  #main-nav, #uf-dockbar-cart {
    width: 30%;
    padding-top: 70px; }*/
  .aui #uf-dockbar-cart {
    max-width: 360px; 
    /* padding-top: 70px;  */ } }
/* DB - COMMENTED OUT #main-nav {
  left: -120%;
  background: #FFF;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  background: #fff; } */
.aui #main-nav.speed-in {
  left: 0; }

.aui #main-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 1em 0 1.5em;
  border-bottom: 1px solid #e0e6ef;
  color: #999; }

/* DB - COMMENTED OUT 
#main-nav ul .current {
  box-shadow: 8px 0px #c66 inset; }
  --- */
@media only screen and (min-width: 769px) {
  .aui  #main-nav {
    /* reset main nav style */
    /* position: absolute; */
    height: auto;
    width: auto;
    left: auto;
    right: 14em;
    top: 0;
    background: transparent;
    box-shadow: none;
    z-index: 1030; }

  .aui  #main-nav li {
    display: inline-block;
    float: left; }

  .aui #main-nav li:nth-child(n+7) {
    display: none !important; }

  .aui #main-nav ul a {
    display: inline-block;
    height: auto;
    line-height: 1;
    padding: 1em 1.4em;
    border-bottom: none; }

  /* DB COMMENTED 
    #main-nav ul a.current {
      box-shadow: none;
      color: #FFF !important;
      background: #c66; }
      -- */
  .no-touch #main-nav ul a:hover {
    background: #435779; } }
.no-js #main-nav {
  position: fixed; }

.aui #main-nav ul, .aui .uf-dockbar-cart-items {
  cursor: default;
  list-style: none;
  margin: 0px; }

.aui #uf-dockbar-cart {
  right: -120%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s; }

.aui #uf-dockbar-cart.speed-in {
  right: 0; }

.aui #uf-dockbar-cart > * {
  padding: 0 1em; }

.aui #uf-dockbar-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase; }

.aui #uf-dockbar-cart .uf-dockbar-cart-items {
  padding: 0;
  margin: 0; }

.aui #uf-dockbar-cart .uf-dockbar-cart-items li {
  position: relative;
  padding: 1em;
  min-height: 3em;
  max-height: 4em;
  border-top: 1px solid #e0e6ef; }

.aui #uf-dockbar-cart .uf-dockbar-price {
  color: #333; }

.aui #uf-dockbar-cart .uf-dockbar-name {
  width: 65%;
  text-align: left;
  display: inline-block;
  max-height: 3.9em;
  overflow: hidden; }

.aui #uf-dockbar-cart .uf-dockbar-price {
  float: right;
  width: 25%;
  background-color: #F7F7F7;
  padding: .25em .25em;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #DDD;
  font-weight: 500; }

.aui #uf-dockbar-cart .uf-dockbar-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%; }

#uf-dockbar-cart a.checkout-btn.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none; }

.no-touch #uf-dockbar-cart .uf-dockbar-item-remove:hover {
  background-color: #e0e6ef; }

#uf-dockbar-cart .uf-dockbar-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 500;
  cursor: default;
  border-top: 1px solid #e0e6ef;
  font-size: 1.25em; }

#uf-dockbar-cart .uf-dockbar-cart-total span {
  float: right; }

#uf-dockbar-cart .uf-dockbar-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

#uf-dockbar-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #00acd0;
  color: #FFF !important;
  text-align: center;
  padding: 0; }

#uf-dockbar-cart .checkout-btn:hover, #uf-dockbar-cart .checkout-btn:focus {
  background: #0e678e; }

#uf-dockbar-cart .uf-dockbar-go-to-cart {
  text-align: center;
  margin: 1em 0; }

@media only screen and (min-width: 1200px) {
  #uf-dockbar-cart > * {
    padding: 0 1.5em; }

  #uf-dockbar-cart .uf-dockbar-cart-items li {
    padding: 1em 1.5em; }

  #uf-dockbar-cart .uf-dockbar-item-remove {
    right: 2em; } }
/* Search Bar modifications
#uf-dockbar-search-desktop.active {
  z-index: 1031;
  left: 170px;
  width: calc(100% - 360px ); }

#uf-dockbar-right-menu {
  position: initial;
  float: right; }

#uf-dockbar-search-desktop.closing {
  opacity: 0 !important;
  background-color: #765677; }
*/
#uf-dockbar-search-trigger i {
  font-size: 23px;
  vertical-align: middle;
  color: #333; }

#uf-dockbar-search-trigger:hover i {
  color: #c66; }

.uf-dockbar-go-to-cart a:active, .uf-dockbar-go-to-cart a:hover,  .uf-dockbar-go-to-cart a:focus {
  color: #999 !important;
  cursor: default; }

.uf-dockbar-more-items-message {
  text-align: center;
  color: #333; }

#uf-dockbar-cart a.checkout-btn.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none; }

#uf-dockbar-search-desktop input[type="text"] {
  border: 0px;
  /* padding: 2px 0px !important; */
  border-radius: 0px !important;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  background: #FFF;
  text-align: left;
  height: 50px;
  margin-top: 0;
  width: 0;
  min-width: 0px;
  font-size: 1em;
  display: block;
  /* z-index: 1100; */ }

#uf-dockbar-search-mobile input[type="text"] {
  padding: .5em 0.8em !important;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 90%;
  font-size: 1em; }

  /* DB comment #uf-dockbar-search-mobile input[type="text"]:focus {
box-shadow: none !important; 
  }*/
#uf-dockbar-search-desktop input[type="text"]:focus {
  box-shadow: none !important;
  border-radius: 0px !important; }

#uf-dockbar-search-desktop.active input[type="text"] {
  width: 160px;
  z-index: 1100;
  padding: 10px 15px !important;
  padding-right: 40px !important; }

/* search modification
#uf-dockbar-search-desktop.active input[type="text"] {
  width: 100% !important;
  padding: 2px 10px 2px 15px !important; }  */
#uf-dockbar-search-desktop.active input[type="submit"], #uf-dockbar-search-desktop.closing input[type="submit"],
#uf-dockbar-search-desktop.closing span.close, #uf-dockbar-search-desktop.active span.close {
  opacity: 1; }

#uf-dockbar-search-desktop form fieldset, #uf-dockbar-search-mobile form fieldset {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important; }

#uf-dockbar-search-desktop {
  position: absolute;
  top: 0;
  right: 0;
  /* z-index: 1100; */ }

#uf-dockbar-search-mobile {
  position: relative;
  margin: 2em 1em 0em 1em;
  width: 300px;
  display: none; }

#uf-dockbar-search-desktop span.fa-search {
 /* -webkit-transition: all 0.5s linear 0s;
-moz-transition: all 0.5s linear 0s;
-o-transition: all 0.5s linear 0s;
transition: all 0.5s linear 0s; */
  position: absolute;
  right: 50px;
  top: 1.2em;
  background: transparent;
  width: 30px;
  height: 30px;
  border: 0px none;
  cursor: pointer;
  padding: 0px;
  opacity: 1; }

#uf-dockbar-search-desktop span.fa-search:hover {
  color: #c66; }

/* Search Modification 
#uf-dockbar-search-desktop input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 0px none;
  text-indent: -9999px;
  cursor: pointer;
  padding: 0px;
  opacity: 0; 
}*/
#uf-dockbar-search-desktop input[type="submit"], #uf-dockbar-search-mobile input[type="submit"] {
  background: white url(../images/ico-search.png) no-repeat scroll 0% 0%/cover;
  position: absolute;
  right: 12px;
  top: 1.2em;
  padding: 0 1em;
  opacity: 0;
  width: 21px;
  height: 28px;
  border: 0px none;
  text-indent: -9999px;
  cursor: pointer;
  display: none; }

#uf-dockbar-search-desktop.active input[type="submit"] {
  display: block; }

#uf-dockbar-search-desktop span.fa-search:before {
  font-size: 23px;
  margin-left: 10px; }

#uf-dockbar-search-mobile span.fa-search {
  position: absolute;
  top: 1em;
  right: 0px;
  width: 20px;
  height: 20px;
  opacity: 1; }

#uf-dockbar-search-mobile span.fa-search:hover {
  color: #c66; }

#uf-dockbar-search-mobile input[type="submit"] {
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  width: 30px;
  height: 30px;
  border: 0px none;
  text-indent: -9999px;
  cursor: pointer;
  padding: 0;
  opacity: 0; }

#uf-dockbar-search-desktop span.close {
  position: absolute;
  right: 5px;
  top: 0.5em;
  font-size: 40px;
  background: transparent;
  width: 30px;
  height: 30px;
  border: 0px none;
  cursor: pointer;
  padding: 0px;
  opacity: 0; }

#uf-dockbar-search-desktop span.close:hover {
  color: #c66; }

@media (max-width: 768px) {
  #uf-dockbar-search-mobile {
    display: block;
    width: 200px; }

  #uf-dockbar-search-mobile input[type="submit"] {
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 1;
    z-index: 1091;
    display: block; }

  #uf-dockbar-search-mobile input[type="text"] {
    height: 20px; } }
/********************************************DB COMMENT
#uf-dockbar-sidebar ul {
  margin: 70px 0px 0px; } 
#uf-dockbar-sidebar ul li {
  list-style: none;
  background-color: #FFF;
  }
#uf-dockbar-sidebar ul li aside {
  padding: 0 2em 1em; } 

#uf-dockbar-sidebar ul li aside h5 {
  color: #999; }

#uf-dockbar-sidebar .profile-nav {
  padding: 30px;
  border-bottom: 1px solid #CCC; }

#uf-dockbar-sidebar ul li > a {
  padding: 10px 12px 13px 40px;
  display: block;
  font-weight: 600; }

#uf-dockbar-sidebar ul li > a .li-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #CCC;
  background-color: #FFF;
  border-radius: 100px; }

#uf-dockbar-sidebar ul li > a .li-icon.pull-left {
  margin-right: 6px; }

#uf-dockbar-sidebar .b-top {
  border-top: 1px solid #CCC;
  border-bottom: 2px solid #CCC; }*/

/* Temporary additions. Should remove from template when going live
#uf-dockbar-sidebar ul li > a .li-icon {
  border: 1px solid #999999;
  background-color: transparent;
  background: none;
  font-size: 20px;
  padding-left: 3px;
  padding-bottom: 4px;
  padding-top: 1px;
  padding-right: 2px;
  }

#uf-dockbar-sidebar ul li > a .li-icon {
  border: 0px solid #999999; }
*/
/* DB COMMENT
.dark a.active {
  text-decoration: underline !important;
  color: #c66 !important;
}

#uf-dockbar-sidebar li.admin > a {
  color: #FFF !important;
}

#uf-dockbar-sidebar li.admin > a {
  background: #C66 none repeat scroll 0% 0%;
} */
/* End of temporary additions */
  /*#uf-dockbar-sidebar {
 db comment position: fixed;
   top: 0; 
  width: 315px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  background: #CCC none repeat scroll 0% 0%; 
  border-right: 1px solid #CCC;
  height: 100%;
  
  -webkit-overflow-scrolling: touch;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s; overflow-y: auto; }*/

#uf-dockbar-sidebar.speed-in {
  right: 0; }

#uf-dockbar-shadow-layer {
  background-color: black;zoom:1;
  -ms-filter: "alpha(opacity=40)";
  filter: alpha(opacity=40);
  opacity: .4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1020;
  display: none;
  }

#uf-dockbar-shadow-layer.is-visible {
  display: block; }

#_145_navAccountControls {
  display: none; }